<h3>Estimado/a <%= toName %>:</h3>
<hr>
<p>"¡Tu solicitud para participar en la Muestra de Música en Vivo (Showcase) de MICA 2015 ha sido completada con éxito!</p>
<p>Agradecemos tu interés en participar de este evento.</p>
<p>El número de referencia de tu solicitud es: <%= cnumber %> con fecha <%= fecomp %> con el siguiente asunto: <br><%= slug %></p>

<p>Esta postulación será procesada para que un jurado integrado por instituciones y profesionales de la industria de la música o de las artes escénicas argentina realicen la evaluación correspondiente para la selección final.</p>
		
<p>Seguinos a través de las redes y la web oficial de MICA 2015</p>

<p>
	<h4><a href="https://www.facebook.com/MICAcultura" >FB: MICAcultura</a></h4>
	<h4><a href="https://twitter.com/MICAcultura" >TW: @micacultura</a></h4>
	<h4>www.mica.gob.ar</h4>
</p>

<p>Contacto:</p>
<p>mail: mica@cultura.gob.ar</p>
<p>Tel.: + 54 11 4129-2474/ 2485</p>
