<h3>Estimado/a <%= toName %>:</h3>
<hr>
<p>
	¡Ha comenzado tu inscripción para el SHOWCASE MICA 2015!
</p>
<p>
	Se ha dado de alta o modificado tu inscripción número: <%= cnumber %>  con fecha <%= fecomp %> con el siguiente asunto:  <br><%= slug %></p>

<p>ATENCIÓN: tu solicitud aún está guardada en forma provisoria, por lo que todavía no pasa a evaluación por parte de MICA</p>

<p>Para perfeccionar la inscripción deberás acceder a  <a href="<%= server %>/mica/#showcase/<%= nodeId %>/edit" >este</a> enlace, y una vez revisados tus datos 'Guardar definitivo' desde el paso '5' (cinco). </p>

<p>Seguinos a través de las redes y la web oficial de MICA 2015</p>
<p>Un cordial saludo</p>

<p>
	<h4><a href="https://www.facebook.com/MICAcultura" >FB: MICAcultura</a></h4>
	<h4><a href="https://twitter.com/MICAcultura" >TW: @micacultura</a></h4>
	<h4>www.mica.gob.ar</h4>
</p>

<p>Contacto:</p>
<p>mail: mica@cultura.gob.ar</p>
<p>Tel.: + 54 11 4129-2474/ 2485</p>
