<div id="vendedor-form" class="row">
  <div class="col-xs-12">
    <hr>     
    <div id="vactividades" class="form-group required">
      <div class="control-label heading">Sector principal en que desea inscribirse como Vendedor</div>  

      <div id="sellerteatro" class="radio" data-initialize="radio">
        <label class="radio-custom <%= vactividades === 'aescenicas' ? 'checked' : '' %> " for="vaescenicas">
          <input type="radio" id="vaescenicas" class="sr-only" data-toggle="#toggle-vaescenicas" <%= vactividades === 'aescenicas' ? 'checked="checked"' : '' %>  name="vactividades" value="aescenicas">
          Artes escénicas
        </label>
      </div>

      <div id="selleraudiovisual" class="radio" data-initialize="radio" >
        <label class="radio-custom <%= vactividades === 'audivisual' ? 'checked' : '' %>" for="vaudivisual">
          <input type="radio" id="vaudivisual" class="sr-only" data-toggle="#toggle-vaudiovisual" <%= vactividades === 'audivisual' ? 'checked="checked"' : '' %>  name="vactividades" value="audivisual">
          Audiovisual
        </label>
      </div>
      
      <div id="sellerdiseno" class="radio" data-initialize="radio">
        <label class="radio-custom <%= vactividades === 'disenio' ? 'checked' : '' %> " for="vdisenio">
          <input type="radio" id="vdisenio" class="sr-only" data-toggle="#toggle-vdisenio" <%= vactividades === 'disenio' ? 'checked="checked"' : '' %> name="vactividades" value="disenio">
          Diseño
        </label>
      </div>

      <div id="sellereditorial" class="radio" data-initialize="radio">
        <label class="radio-custom <%= vactividades === 'editorial' ? 'checked' : '' %> " for="veditorial">
          <input type="radio" id="veditorial" class="sr-only" data-toggle="#toggle-veditorial" <%= vactividades === 'editorial' ? 'checked="checked"' : '' %> name="vactividades" value="editorial">
          Editorial
        </label>
      </div>

      <div id="sellermusica" class="radio" data-initialize="radio">
        <label class="radio-custom <%= vactividades === 'musica' ? 'checked' : '' %> " for="vmusica">
          <input type="radio" id="vmusica" class="sr-only" data-toggle="#toggle-vmusica" <%= vactividades === 'musica' ? 'checked="checked"' : '' %> name="vactividades" value="musica">
          Música
        </label>
      </div>

      <div id="sellervideojuegos" class="radio" data-initialize="radio">
        <label class="radio-custom <%= vactividades === 'videojuegos' ? 'checked' : '' %> " for="vvideojuegos">
          <input type="radio" id="vvideojuegos" class="sr-only" data-toggle="#toggle-vvideojuegos" <%= vactividades === 'videojuegos' ? 'checked="checked"' : '' %> name="vactividades" value="videojuegos">
          Videojuegos y Apps
        </label>
      </div>
    </div>

    <div class="form-group required" id="toggle-vaescenicas">
      <div class="control-label heading">Sub-sector específico donde desarrolla su actividad</div>

      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v1subsector1">
        <input type="checkbox" id="v1subsector1" class="sr-only" <%= sub_aescenicas.diseniador ? 'checked="checked"' : '' %> name="sub_aescenicas" value="diseniador"> <span class="checkbox-label">Diseñadores, realizadores y técnicos</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v1subsector2">
        <input type="checkbox" id="v1subsector2" class="sr-only" <%= sub_aescenicas.direccion ? 'checked="checked"' : '' %> name="sub_aescenicas" value="direccion"> <span class="checkbox-label">Dirección</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v1subsector3">
        <input type="checkbox" id="v1subsector3" class="sr-only" <%= sub_aescenicas.dramaturgia ? 'checked="checked"' : '' %> name="sub_aescenicas" value="dramaturgia"> <span class="checkbox-label">Dramaturgia</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v1subsector3">
        <input type="checkbox" id="v1subsector3" class="sr-only" <%= sub_aescenicas.coreografia ? 'checked="checked"' : '' %> name="sub_aescenicas" value="coreografia"> <span class="checkbox-label">Coreografía</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v1subsector3">
        <input type="checkbox" id="v1subsector3" class="sr-only" <%= sub_aescenicas.programadorfestivales ? 'checked="checked"' : '' %> name="sub_aescenicas" value="programadorfestivales"> <span class="checkbox-label">Programadores, directores o representantes de festivales, muestras o redes</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v1subsector3">
        <input type="checkbox" id="v1subsector3" class="sr-only" <%= sub_aescenicas.programadorsalas ? 'checked="checked"' : '' %> name="sub_aescenicas" value="programadorsalas"> <span class="checkbox-label">Programadores de salas de exhibición y/o producción (teatros, centros culturales, etc.)</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v1subsector3">
        <input type="checkbox" id="v1subsector3" class="sr-only" <%= sub_aescenicas.camaras ? 'checked="checked"' : '' %> name="sub_aescenicas" value="camaras"> <span class="checkbox-label">Cámaras/ asociaciones / agrupaciones</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v1subsector3">
        <input type="checkbox" id="v1subsector3" class="sr-only" <%= sub_aescenicas.proveedores ? 'checked="checked"' : '' %> name="sub_aescenicas" value="proveedores"> <span class="checkbox-label">Proveedores de servicios artísticos o técnicos</span>
      </label>
    </div>

    <div class="form-group required" id="toggle-vaudiovisual">
      <div class="control-label heading">Sub-sector específico donde desarrolla su actividad</div>

      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v2subsector1">
        <input type="checkbox" id="v2subsector1" class="sr-only" <%= sub_audiovisual.pservicios ? 'checked="checked"' : '' %> name="sub_audiovisual" value="pservicios"> <span class="checkbox-label">Proveedores de servicios: cámaras, luces, sonido, edición, post, servicios varios</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v2subsector2">
        <input type="checkbox" id="v2subsector2" class="sr-only" <%= sub_audiovisual.pcontenidos ? 'checked="checked"' : '' %> name="sub_audiovisual" value="pcontenidos"> <span class="checkbox-label">Productoras de contenido</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v2subsector3">
        <input type="checkbox" id="v2subsector3" class="sr-only" <%= sub_audiovisual.servicios ? 'checked="checked"' : '' %> name="sub_audiovisual" value="servicios"> <span class="checkbox-label">Servicios de producción: televisión, cine, publicidad</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v2subsector3">
        <input type="checkbox" id="v2subsector3" class="sr-only" <%= sub_audiovisual.vjs ? 'checked="checked"' : '' %> name="sub_audiovisual" value="vjs"> <span class="checkbox-label">VJS, artistas visuales, realizadores de video clip, crealizadores de piezas audiovisuales</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v2subsector3">
        <input type="checkbox" id="v2subsector3" class="sr-only" <%= sub_audiovisual.profesional ? 'checked="checked"' : '' %> name="sub_audiovisual" value="profesional"> <span class="checkbox-label">profesionales: Guión, dirección, productor, director de fotografía/arte, sonidista, editor, colorista, etc.</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v2subsector3">
        <input type="checkbox" id="v2subsector3" class="sr-only" <%= sub_audiovisual.programador ? 'checked="checked"' : '' %> name="sub_audiovisual" value="programador"> <span class="checkbox-label">Programadores, directores o reproresentantes de Festivales</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v2subsector3">
        <input type="checkbox" id="v2subsector3" class="sr-only" <%= sub_audiovisual.distribuidor ? 'checked="checked"' : '' %> name="sub_audiovisual" value="distribuidor"> <span class="checkbox-label">Distribuidores / agentes de venta</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v2subsector3">
        <input type="checkbox" id="v2subsector3" class="sr-only" <%= sub_audiovisual.exhibtelevision ? 'checked="checked"' : '' %> name="sub_audiovisual" value="exhibtelevision"> <span class="checkbox-label">Exhibidores de televisión</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v2subsector3">
        <input type="checkbox" id="v2subsector3" class="sr-only" <%= sub_audiovisual.exhibmultiplataforma ? 'checked="checked"' : '' %> name="sub_audiovisual" value="exhibmultiplataforma"> <span class="checkbox-label">Exhibidores multiplataforma</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v2subsector3">
        <input type="checkbox" id="v2subsector3" class="sr-only" <%= sub_audiovisual.exhibcine ? 'checked="checked"' : '' %> name="sub_audiovisual" value="exhibcine"> <span class="checkbox-label">Exhibidores cinematográficos</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v2subsector3">
        <input type="checkbox" id="v2subsector3" class="sr-only" <%= sub_audiovisual.camaras ? 'checked="checked"' : '' %> name="sub_audiovisual" value="camaras"> <span class="checkbox-label">Cámaras/ Asociaciones/ Agrupaciones</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v2subsector3">
        <input type="checkbox" id="v2subsector3" class="sr-only" <%= sub_audiovisual.editores ? 'checked="checked"' : '' %> name="sub_audiovisual" value="editores"> <span class="checkbox-label">Editores de publicaciones especializadas</span>
      </label>
    </div>

    <div class="form-group required" id="toggle-vdisenio">
      <div class="control-label heading" class="control-label">Sub-sector específico donde desarrolla su actividad</div>

      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v3subsector1">
        <input type="checkbox" id="v3subsector1" class="sr-only" <%= sub_disenio.grafica ? 'checked="checked"' : '' %> name="sub_disenio" value="grafica"> <span class="checkbox-label">Gráfico/ Ilustración</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v3subsector2">
        <input type="checkbox" id="v3subsector2" class="sr-only" <%= sub_disenio.indumentaria ? 'checked="checked"' : '' %> name="sub_disenio" value="indumentaria"> <span class="checkbox-label">Indumentaria y afines</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v3subsector3">
        <input type="checkbox" id="v3subsector3" class="sr-only" <%= sub_disenio.industrial ? 'checked="checked"' : '' %> name="sub_disenio" value="industrial"> <span class="checkbox-label">Industrial / objetos</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v3subsector3">
        <input type="checkbox" id="v3subsector3" class="sr-only" <%= sub_disenio.joyeria ? 'checked="checked"' : '' %> name="sub_disenio" value="joyeria"> <span class="checkbox-label">Joyería</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v3subsector3">
        <input type="checkbox" id="v3subsector3" class="sr-only" <%= sub_disenio.multimedia ? 'checked="checked"' : '' %> name="sub_disenio" value="multimedia"> <span class="checkbox-label">Multimedia/ web</span>
      </label>
    </div>

    <div class="form-group required" id="toggle-veditorial">
      <div class="control-label heading" class="control-label">Sub-sector específico donde desarrolla su actividad</div>

      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v4subsector1">
        <input type="checkbox" id="v4subsector1" class="sr-only" <%= sub_editorial.editor ? 'checked="checked"' : '' %> name="sub_editorial" value="editor"> <span class="checkbox-label">Editor</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v4subsector2">
        <input type="checkbox" id="v4subsector2" class="sr-only" <%= sub_editorial.libreria ? 'checked="checked"' : '' %> name="sub_editorial" value="libreria"> <span class="checkbox-label">Librería</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v4subsector3">
        <input type="checkbox" id="v4subsector3" class="sr-only" <%= sub_editorial.distribuidora ? 'checked="checked"' : '' %> name="sub_editorial" value="distribuidora"> <span class="checkbox-label">Distribuidora</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v4subsector4">
        <input type="checkbox" id="v4subsector4" class="sr-only" <%= sub_editorial.ilustrador ? 'checked="checked"' : '' %> name="sub_editorial" value="ilustrador"> <span class="checkbox-label">Ilustrador</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v4subsector5">
        <input type="checkbox" id="v4subsector5" class="sr-only" <%= sub_editorial.revistacultural ? 'checked="checked"' : '' %> name="sub_editorial" value="revistacultural"> <span class="checkbox-label">Revista cultural</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v4subsector5">
        <input type="checkbox" id="v4subsector5" class="sr-only" <%= sub_editorial.electronico ? 'checked="checked"' : '' %> name="sub_editorial" value="electronico"> <span class="checkbox-label">Editor de publicaciones electrónicas</span>
      </label>
    </div>

    <div class="form-group required" id="toggle-vmusica">
      <div class="control-label heading" class="control-label">Sub-sector específico donde desarrolla su actividad</div>

      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v5subsector1">
        <input type="checkbox" id="v5subsector1" class="sr-only" <%= sub_musica.representante ? 'checked="checked"' : '' %> name="sub_musica" value="representante"> <span class="checkbox-label">Representate (manager, booking)</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v5subsector2">
        <input type="checkbox" id="v5subsector2" class="sr-only" <%= sub_musica.produccion ? 'checked="checked"' : '' %> name="sub_musica" value="produccion"> <span class="checkbox-label">Producción (programación, curaduría)</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v5subsector3">
        <input type="checkbox" id="v5subsector3" class="sr-only" <%= sub_musica.festival ? 'checked="checked"' : '' %> name="sub_musica" value="festival"> <span class="checkbox-label">Festival</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v5subsector3">
        <input type="checkbox" id="v5subsector3" class="sr-only" <%= sub_musica.salas ? 'checked="checked"' : '' %> name="sub_musica" value="salas"> <span class="checkbox-label">Sala de concierto</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v5subsector3">
        <input type="checkbox" id="v5subsector3" class="sr-only" <%= sub_musica.sello ? 'checked="checked"' : '' %> name="sub_musica" value="sello"> <span class="checkbox-label">Sello discográfico/ distribución</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v5subsector3">
        <input type="checkbox" id="v5subsector3" class="sr-only" <%= sub_musica.servicios ? 'checked="checked"' : '' %> name="sub_musica" value="servicios"> <span class="checkbox-label">Servicios afines</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v5subsector3">
        <input type="checkbox" id="v5subsector3" class="sr-only" <%= sub_musica.camaras ? 'checked="checked"' : '' %> name="sub_musica" value="camaras"> <span class="checkbox-label">Cámaras, agrupaciones, asociaciones</span>
      </label>
    </div>

    <div class="form-group required" id="toggle-vvideojuegos">
      <div class="control-label heading" class="control-label">Sub-sector específico donde desarrolla su actividad</div>

      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v6subsector1">
        <input type="checkbox" id="v6subsector1" class="sr-only" <%= sub_videojuegos.programacion ? 'checked="checked"' : '' %> name="sub_videojuegos" value="programacion"> <span class="checkbox-label">Programación</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v6subsector2">
        <input type="checkbox" id="v6subsector2" class="sr-only" <%= sub_videojuegos.arte ? 'checked="checked"' : '' %> name="sub_videojuegos" value="arte"> <span class="checkbox-label">Arte (2d, 3d, ilustración)</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v6subsector3">
        <input type="checkbox" id="v6subsector3" class="sr-only" <%= sub_videojuegos.disenio ? 'checked="checked"' : '' %> name="sub_videojuegos" value="disenio"> <span class="checkbox-label">Diseñador lúdico</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v6subsector3">
        <input type="checkbox" id="v6subsector3" class="sr-only" <%= sub_videojuegos.guion ? 'checked="checked"' : '' %> name="sub_videojuegos" value="guion"> <span class="checkbox-label">Guión</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v6subsector3">
        <input type="checkbox" id="v6subsector3" class="sr-only" <%= sub_videojuegos.produccion ? 'checked="checked"' : '' %> name="sub_videojuegos" value="produccion"> <span class="checkbox-label">Producción</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v6subsector3">
        <input type="checkbox" id="v6subsector3" class="sr-only" <%= sub_videojuegos.musica ? 'checked="checked"' : '' %> name="sub_videojuegos" value="musica"> <span class="checkbox-label">Música/ Diseño de sonido</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v6subsector3">
        <input type="checkbox" id="v6subsector3" class="sr-only" <%= sub_videojuegos.testeo ? 'checked="checked"' : '' %> name="sub_videojuegos" value="testeo"> <span class="checkbox-label">Testeo</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v6subsector3">
        <input type="checkbox" id="v6subsector3" class="sr-only" <%= sub_videojuegos.comunicacion ? 'checked="checked"' : '' %> name="sub_videojuegos" value="comunicacion"> <span class="checkbox-label">Comunicación y marketing</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="v6subsector3">
        <input type="checkbox" id="v6subsector3" class="sr-only" <%= sub_videojuegos.comunidades ? 'checked="checked"' : '' %> name="sub_videojuegos" value="comunidades"> <span class="checkbox-label">Gestión de comunidades</span>
      </label>
    </div>
    
    <div class="form-group">
      <div class="row">
      
        <div class="form-group">
          <label class="col-sm-12 control-label" for="tags">Palabras clave que identifiquen su proyecto</label>
          <div class="col-sm-12">
            <select id="tags" class="form-control" multiple data-role="tagsinput" placeholder="Ingrese términos claves y luego presione Enter."  name="tags">
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12 radio">
        <div class="form-group">
          <p><strong>¿Realiza o realizó negocios en el exterior?</strong></p>
          <label class="radio-custom radio-inline" data-initialize="radio" for="vexpinternacional4">
            <input type="radio" id="vexpinternacional4" class="sr-only" <%= vexperienciaintl === '4' ? 'checked="checked"' : '' %>  name="vexperienciaintl" value="4"> Frecuentemente
          </label>
          <label class="radio-custom radio-inline" data-initialize="radio" for="vexpinternacional2">
            <input type="radio" id="vexpinternacional2" class="sr-only" <%= vexperienciaintl === '2' ? 'checked="checked"' : '' %>  name="vexperienciaintl" value="2"> Esporádicamente
          </label>
          <label class="radio-custom radio-inline" data-initialize="radio" for="vexpinternacional1">
            <input type="radio" id="vexpinternacional1" class="sr-only" <%= vexperienciaintl === '1' ? 'checked="checked"' : '' %>  name="vexperienciaintl" value="1"> Nunca
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12">
        <label class="control-label" for="vcomentario">Comentarios adicionales sobre su participación como Vendedor en el evento</label>
        <textarea id="vcomentario" class="form-control" rows="6" maxlength="500" placeholder="Máximo 500 caracteres" name="vcomentario"><%= vcomentario %></textarea>
        <span class="help-block"></span>
      </div>
    </div>
    <hr>

  </div>
</div>
