<div class="form-group required">
  <div class="row">
      <div class="col-sm-12">
          <label class="control-label" for="rmail">Email del Representante</label>
          <input type="text" id="rmail" class="form-control" placeholder="Email" disabled name="rmail" value="<%= rmail %>" >
          <!--A completar automáticamente-->
      </div>
    </div>
</div>

<div>
  <div class="row">
    <div class="form-group required col-sm-8">
        <label class="control-label" for="rname">Nombre y apellido del Representante</label>
        <input type="text" id="rname" class="form-control" name="rname" value="<%= rname %>">
    </div>

    <div class="col-sm-4">
        <label class="control-label" for="rcargo">Cargo/Función</label>
        <input type="text" id="rcargo" class="form-control" name="rcargo" value="<%= rcargo %>">
    </div>
  </div>
</div>

<div>
  <div class="row">
    <div class="col-sm-3 form-group required">
        <label class="control-label" for="rdocnum">DNI/Pasaporte</label>
        <input type="text" id="rdocnum" class="form-control" placeholder="número de documento" name="rdocnum" value="<%= rdocnum %>">
        <!--A completar automáticamente-->
    </div>

    <div class="col-sm-3">
        <label class="control-label" for="rfenac">Fecha de nacimiento</label>
        <input type="text" id="rfenac" class="form-control" name="rfenac" value="<%= rfenac %>" placeholder="dd/mm/aaaa">
    </div>

    <div class="col-sm-3">
        <label class="control-label" for="rtel">Teléfono</label>
        <input type="text" id="rtel" class="form-control" placeholder="+54 (área) número" name="rtel" value="<%= rtel %>">
    </div>

    <div class="col-sm-3">
        <label class="control-label" for="rcel">Teléfono móvil</label>
        <input type="text" id="rcel" class="form-control" placeholder="+54 (área) número" name="rcel" value="<%= rcel %>">
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-sm-12">
      <label class="control-label">Idiomas que domina</label>
      <input type="text" id="ridiomas" class="form-control" name="ridiomas" value="<%= ridiomas %>">
    </div>
  </div>
</div>
<hr class="spacer">

