<div id="comprador-form" class="row">
  <div class="col-xs-12">
    <hr> 

    <div id="cactividades" class="form-group required">
      <div class="control-label heading">Sector principal en que desea inscribirse como Comprador</div>  

      <div id="buyteatro" class="radio" data-initialize="radio">
        <label class="radio-custom" for="caescenicas">
          <input type="radio" id="caescenicas" class="sr-only" data-toggle="#toggle-caescenicas" <%= cactividades === 'aescenicas' ? 'checked="checked"' : '' %> name="cactividades" value="aescenicas">
          Artes escénicas
        </label>
      </div>

      <div id="buyaudiovisual" class="radio" data-initialize="radio" >
        <label class="radio-custom" for="caudiovisual">
          <input type="radio" id="caudiovisual" class="sr-only" data-toggle="#toggle-caudiovisual" <%= cactividades === 'audiovisual' ? 'checked="checked"' : '' %> name="cactividades" value="audiovisual">
          Audiovisual
        </label>
      </div>
      
      <div id="buydiseno" class="radio" data-initialize="radio">
        <label class="radio-custom" for="cdisenio">
          <input type="radio" id="cdisenio" class="sr-only" data-toggle="#toggle-cdisenio" <%= cactividades === 'disenio' ? 'checked="checked"' : '' %> name="cactividades" value="disenio">
          Diseño
        </label>
      </div>

      <div id="buyeditorial" class="radio" data-initialize="radio">
        <label class="radio-custom" for="ceditorial">
          <input type="radio" id="ceditorial" class="sr-only" data-toggle="#toggle-ceditorial" <%= cactividades === 'editorial' ? 'checked="checked"' : '' %> name="cactividades" value="editorial">
          Editorial
        </label>
      </div>

      <div id="buymusica" class="radio" data-initialize="radio">
        <label class="radio-custom" for="cmusica">
          <input type="radio" id="cmusica" class="sr-only" data-toggle="#toggle-cmusica" <%= cactividades === 'musica' ? 'checked="checked"' : '' %> name="cactividades" value="musica">
          Música
        </label>
      </div>

      <div id="buyvideojuegos" class="radio" data-initialize="radio">
        <label class="radio-custom" for="cideojuegos">
          <input type="radio" id="cideojuegos" class="sr-only" data-toggle="#toggle-cvideojuegos" <%= cactividades === 'videojuegos' ? 'checked="checked"' : '' %> name="cactividades" value="videojuegos">
          Videojuegos y Apps
        </label>
      </div>
    </div>

    <div class="form-group required" id="toggle-caescenicas">
      <div class="control-label heading">Sub-sector específico donde desarrolla su actividad</div>

      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="c1subsector1">
        <input type="checkbox" id="c1subsector1" class="sr-only" <%= sub_aescenicas.teatro ? 'checked="checked"' : '' %> name="sub_aescenicas" value="teatro"> <span class="checkbox-label">Teatro</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="c1subsector2">
        <input type="checkbox" id="c1subsector2" class="sr-only" <%= sub_aescenicas.mimo ? 'checked="checked"' : '' %> name="sub_aescenicas" value="mimo"> <span class="checkbox-label">Mimo</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="c1subsector3">
        <input type="checkbox" id="c1subsector3" class="sr-only" <%= sub_aescenicas.otros ? 'checked="checked"' : '' %> name="sub_aescenicas" value="otros"> <span class="checkbox-label">...</span>
      </label>
    </div>

    <div class="form-group required" id="toggle-caudiovisual">
      <div class="control-label heading">Sub-sector específico donde desarrolla su actividad</div>

      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="c2subsector1">
        <input type="checkbox" id="c2subsector1" class="sr-only" <%= sub_audiovisual.cine ? 'checked="checked"' : '' %> name="sub_audiovisual" value="cine"> <span class="checkbox-label">Cine</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="c2subsector2">
        <input type="checkbox" id="c2subsector2" class="sr-only" <%= sub_audiovisual.publicidad ? 'checked="checked"' : '' %> name="sub_audiovisual" value="publicidad"> <span class="checkbox-label">Publicidad</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="c2subsector3">
        <input type="checkbox" id="c2subsector3" class="sr-only" <%= sub_audiovisual.otros ? 'checked="checked"' : '' %> name="sub_audiovisual" value="otros"> <span class="checkbox-label">...</span>
      </label>
    </div>

    <div class="form-group required" id="toggle-cdisenio">
      <div class="control-label heading" class="control-label">Sub-sector específico donde desarrolla su actividad</div>

      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="c3subsector1">
        <input type="checkbox" id="c3subsector1" class="sr-only" <%= sub_disenio.grafico ? 'checked="checked"' : '' %> name="sub_disenio" value="grafico"> <span class="checkbox-label">Gráfico</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="c3subsector2">
        <input type="checkbox" id="c3subsector2" class="sr-only" <%= sub_disenio.indumentaria ? 'checked="checked"' : '' %> name="sub_disenio" value="indumentaria"> <span class="checkbox-label">Indumentaria</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="c3subsector3">
        <input type="checkbox" id="c3subsector3" class="sr-only" <%= sub_disenio.otros ? 'checked="checked"' : '' %> name="sub_disenio" value="otros"> <span class="checkbox-label">...</span>
      </label>
    </div>

    <div class="form-group required" id="toggle-ceditorial">
      <div class="control-label heading" class="control-label">Sub-sector específico donde desarrolla su actividad</div>

      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="c4subsector1">
        <input type="checkbox" id="c4subsector1" class="sr-only" <%= sub_editorial.ficcion ? 'checked="checked"' : '' %> name="sub_editorial" value="ficcion"> <span class="checkbox-label">Ficción</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="c4subsector2">
        <input type="checkbox" id="c4subsector2" class="sr-only" <%= sub_editorial.ensayo ? 'checked="checked"' : '' %> name="sub_editorial" value="ensayo"> <span class="checkbox-label">Ensayos</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="c4subsector3">
        <input type="checkbox" id="c4subsector3" class="sr-only" <%= sub_editorial.cuento ? 'checked="checked"' : '' %> name="sub_editorial" value="cuento"> <span class="checkbox-label">Cuentos</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="c4subsector4">
        <input type="checkbox" id="c4subsector4" class="sr-only" <%= sub_editorial.poesia ? 'checked="checked"' : '' %> name="sub_editorial" value="poesia"> <span class="checkbox-label">Poesía</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="c4subsector5">
        <input type="checkbox" id="c4subsector5" class="sr-only" <%= sub_editorial.otros ? 'checked="checked"' : '' %> name="sub_editorial" value="otros"> <span class="checkbox-label">...</span>
      </label>
    </div>

    <div class="form-group required" id="toggle-cmusica">
      <div class="control-label heading" class="control-label">Sub-sector específico donde desarrolla su actividad</div>

      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="c5subsector1">
        <input type="checkbox" id="c5subsector1" class="sr-only" <%= sub_musica.tango ? 'checked="checked"' : '' %> name="sub_musica" value="tango"> <span class="checkbox-label">Tango</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="c5subsector2">
        <input type="checkbox" id="c5subsector2" class="sr-only" <%= sub_musica.folklore ? 'checked="checked"' : '' %> name="sub_musica" value="folklore"> <span class="checkbox-label">Folcklore</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="c5subsector3">
        <input type="checkbox" id="c5subsector3" class="sr-only" <%= sub_musica.otros ? 'checked="checked"' : '' %> name="sub_musica" value="otros"> <span class="checkbox-label">...</span>
      </label>
    </div>

    <div class="form-group required" id="toggle-cvideojuegos">
      <div class="control-label heading" class="control-label">Sub-sector específico donde desarrolla su actividad</div>

      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="c6subsector1">
        <input type="checkbox" id="c6subsector1" class="sr-only" <%= sub_videojuegos.escritorio ? 'checked="checked"' : '' %> name="sub_videojuegos" value="escritorio"> <span class="checkbox-label">Web Apps</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="c6subsector2">
        <input type="checkbox" id="c6subsector2" class="sr-only" <%= sub_videojuegos.moviles ? 'checked="checked"' : '' %> name="sub_videojuegos" value="moviles"> <span class="checkbox-label">Aplicaciones móviles</span>
      </label>
      <label class="checkbox-custom checkbox-inline" data-initialize="checkbox" for="c6subsector3">
        <input type="checkbox" id="c6subsector3" class="sr-only" <%= sub_videojuegos.otros ? 'checked="checked"' : '' %> name="sub_videojuegos" value="otros"> <span class="checkbox-label">...</span>
      </label>
    </div>
    
    <div class="form-group">
      <div class="row">
      
        <div class="form-group">
          <label class="col-sm-12 control-label" for="ctags">Palabras clave que identifiquen su proyecto</label>
          <div class="col-sm-12">
            <select id="ctags" class="form-control" multiple data-role="tagsinput" placeholder="Ingrese términos claves y luego presione Enter."  name="tags">
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12 radio">
        <div class="form-group">
          <p><strong>¿Realiza o realizó negocios en el exterior?</strong></p>
          <label class="radio-custom radio-inline" data-initialize="radio" for="cexpinternacional4">
            <input type="radio" id="cexpinternacional4" class="sr-only" <%= cexperienciaintl === '4' ? 'checked="checked"' : '' %> name="cexperienciaintl" value="4"> Frecuentemente
          </label>
          <label class="radio-custom radio-inline" data-initialize="radio" for="cexpinternacional2">
            <input type="radio" id="cexpinternacional2" class="sr-only" <%= cexperienciaintl === '2' ? 'checked="checked"' : '' %> name="cexperienciaintl" value="2"> Esporádicamente
          </label>
          <label class="radio-custom radio-inline" data-initialize="radio" for="cexpinternacional1">
            <input type="radio" id="cexpinternacional1" class="sr-only" <%= cexperienciaintl === '1' ? 'checked="checked"' : '' %> name="cexperienciaintl" value="1"> Nunca
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12">
        <label class="control-label" for="ccomentario">Comentarios adicionales sobre su participación como Comprador en el evento</label>
        <textarea id="ccomentario" class="form-control" rows="6" maxlength="500" placeholder="Máximo 500 caracteres" name="ccomentario"></textarea>
        <span class="help-block"></span>
      </div>
    </div>
    <hr>
    
  </div>
</div>
