<div class="form-group required">
  <label class="control-label" for="slug">Denominación del producto o servicio </label>
  <input type="text" id="slug" class="form-control" placeholder="Identificá con un nombre esta entrada en tu porfolio" name="slug" value="<%= slug %>">
  <span class="help-block"></span>
</div>

<div class="form-group">
    <label class="control-label" for="denominacion">Describa un Producto, Proyecto o Servicio</label>
    <div class="input-group">
      <textarea id="denominacion" class="form-control" rows="6"  maxlength="500" placeholder="Describa brevemente un producto, proyecto o servicio desarrollado recientementeque considere relevante." name="denominacion" ><%= denominacion %></textarea>
      <div class="input-group-addon">
        <div title="Describa brevemente un producto, proyecto o servicio desarrollado recientementeque considere relevante." rel="tooltip"><span class="fa fa-question-circle"></span>
        </div>
      </div>
    </div>
    <span class="help-block"></span>
</div>