<div class="media">
  <div class="media-left">
    <a class="thumbnail" style="width:80px;height:85px">
        <img class="media-object avatar" src="/<%= getAvatar() %>" alt="" style="height: 73px; width:73px;">
    </a>
  </div>
  <div class="media-body">
    <h3 style="margin-top:0"><%= solicitante.edisplayName %>
        <span class="nro-serie"> (<%= cnumber%>) </span>
    </h3>
    <div><%=getActividad()%></div>
    <%= solicitante.edescription %>
    <% if(showToolbar){ %>
      <br/>
      <a class="js-openperfil" style="cursor:pointer">ver perfil</a> <span class="text-muted">|</span>
      <a class="js-openagenda" style="cursor:pointer">ver agenda</a>  <span class="text-muted">|</span>
      <a class="js-countassigned" style="cursor:pointer;display:none">ver recuento</a>
    <% } %>
  </div>
</div>
