<div class="panel-heading" style="padding: 15px 20px 0">
	<div class="caption" style="padding: 0 0 0"><h4 class="text-right">Presupuesto total: <%= accounting.formatMoney(costo_total) %></h4><h4 class="text-right">Presupuesto detallado: <%= accounting.formatMoney(costo_detallado) %></h4></div>
</div>
<div class="panel-body">
	<div id='theader'>
		<table class="table table-condensed table-bordered">
					<colgroup>
						<col style='width: 30%;'>
						<col style='width:  7%;'>
						<col style='width:  7%;'>
						<col style='width:  7%;'>
						<col style='width:  7%;'>
						<col style='width: 15%;'>
						<col style='width: 12%;'>
						<col style='width: 15%;'>
					</colgroup>
			<thead>
				<tr>
					<th>Tramitación</th>
					<th>Ejecución</th>
					<th>Trim</th>
					<th>Tramita</th>
					<th>Prg/Inc</th>
					<th>Cantidad</th>
					<th><span class="pull-right">Unitario</span></th>
					<th><span class="pull-right">Importe</span></th>
				</tr> 
			</thead>
		</table>
	</div>
	<div id='budgetinstance'></div>
</div>
