		<div class="col-xs-6" >
			<h2><%= utils.fetchLabel(utils.tipoActionEntityList, tregistro) %>: <%= cnumber %></h2>
			<h4><%= nodo %> / <%= area %></h4>
			<% if(aprovals.length){ %>
				<h4>AUTORIZADA:  <%= aprovals[0].fechaaprob  %></h4>
			<%}%>
			<p><%= requirente %></p>
			
			<p><%= lugarfecha%></p>
			<%if(expediente){ %> <p><strong>Expediente: </strong>  <%= expediente %></p><%} %>
			<p><strong>Alta: </strong><%= fecomp %></p>
			<p><%= utils.fetchLabel(utils.actionEjecucionOptionList, nivel_ejecucion) %></p>
			<%if(contraparte){ %> <p><strong>Contraparte: </strong>  <%= contraparte %></p><%} %>

		</div>
		<div class="col-xs-6 pull-right"  >
			<h3><%= slug %></h3>
			<p><strong>  <%= utils.fetchLabel(utils.tipoActionIniciativeList, taccion) %></strong></p>
			<p><%= description %></p>
			<%if(objetivo){ %> <p><strong>Objetivos: </strong>  <%= objetivo %></p><%} %>
			<%if(metafisica){ %> <p><strong>Productos / resultados: <%= metafisica %></strong>  <%= metafisicaume %></p><%} %>
		</div>
        
        <ul class="nav nav-tabs">
          <li tab="presupuesto"><a class="js-newbudget">Presupesto</a></li>
          <li tab="actividades"><a class="js-newactivity">Actividades</a></li>
          <li tab="participantes"><a class="js-newparticipant"> <i class="glyphicon glyphicon-user"></i> Participantes</a></li>
          <li tab="locaciones"><a class="js-newlocation"> <i class="glyphicon glyphicon-screenshot"></i> Locaciones</a></li>
        </ul>
