	<td><input class='js-row-chbx' name='rowchbx' type='checkbox'></td>
	<td><button class='btn-link js-edit'  title='editar'><span class='glyphicon glyphicon-edit'></span></button><button class='btn-link js-clone' title='entidades relacionadas' ><span class='glyphicon glyphicon-plus-sign'></span></button></td>
	<td><%= utils.fetchLabel(utils.budgetTemplate[tgasto], sgasto) %></td>
	<td><input class='form-control' id='isactive' name='isactive' value='<%= isactive %>'></td>
	<td><input class='form-control' id='cantidad' name='cantidad' value='<%= cantidad %>'></td>
	<td><%= ume %></td>
	<td><input class='form-control' id='punit' name='punit' value='<%= punit %>'></td>
	<td><span class="pull-right"><%= accounting.formatNumber(cantidad * isactive * freq * punit) %></span></td>
	<td><span class="pull-right"><%= accounting.formatNumber(importe) %></span></td>
	<td><button class='btn-link js-trash'  title='eliminar'><span class='glyphicon glyphicon-trash'></span></button></td>
