    <header>
      <div class="mainnav navbar navbar-default navbar-fixed-top micultura">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="/img/logo-cultura-nacion.png" class="img-responsive">
                </a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right hidden-print">
              <% if(displayName) { %>
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i>
                    <span><%= displayName %> <i class="caret"></i></span>
                </a>
                <ul class="dropdown-menu" style="width: auto;">

          <li class="bg-mcn-blue">
            <a href="#perfil"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              Mi perfil
            </a>
          </li>
          <li>
            <a data-method="delete" href="/logout" rel="nofollow"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
              Salir
            </a>
        </li>


                </ul>
              </li>
              <% } %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      <div>  
          <nav class="subnav navbar navbar-collapse2" role="navigation">
            <div class="container">
              <div class="navbar-header row">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse2">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="menu">

              <ul id='taskmenu' class=" hidden-print"></ul>


            </div>
              </div>
            </div>
          </nav>
        </div>
    </header>
