 
  <form class="form-location">
    <div class="container-fluid">
	    <div class="row">
	      <div id="fieldsContainer" class="col-xs-12">
	      
	          
	          <div class="backform-fix" style="padding-top:10px" data-fields="name,nickName,displayName,direccion,provincia,departamento,localidad,notas"></div>               
	      </div>
	      <div id="mapContainer" class="" style="display:none;margin-bottom:10px" >
                <div id="map" style="width:95%;height:350px"></div>
                <a class="js-hidemap btn btn-link">cerrar mapa </a>
	      </div>
	    </div>
    </div>
    <% if(this.model.get('coordinate').length === 2) { %>
       <a class="js-showmap" style="cursor:pointer">Coordenadas: <%= this.model.get('coordinate')%> </a>
  <% } %>
 </form>