<div style="margin-bottom:10px">
  <div class="pull-left" style="margin-right:10px;position:relative">
      <div class="dropwdown">
	        <span data-toggle="dropdown" style="cursor:pointer">
	           <i class="glyphicon glyphicon-<%=icon%>"></i>
	           <span class="caret"></span>
	        </span>
	    
	        <ul class="dropdown-menu" role="menu">
	          <% _.each(typesContact,function(val,i){ %>
	              <li><a role="typeItem" data-pos="<%=i%>" tabindex="-1"> <i class="glyphicon glyphicon-<%=val.icon%>"></i> <%=val.label%></a> </li> 
	          <% }) %>
	        </ul>
      </div>
  </div>
  <div class="pull-left"  style="margin-right:10px">
	   <div><input id="inputData" type="text" class="form-control input-sm" value="<%= contactdata %>"/>  </div>
	   <div class="dropdown">
			   <small data-toggle="dropdown" style="cursor:pointer"><%= subcontenido %> <span class="caret"></span></small>
			   
			   <ul class="dropdown-menu" role="menu">
			      <% _.each(subContents,function(val,i){ %>
			          <li><a role="subContentItem" data-pos="<%=i%>" tabindex="-1"><%=val%></a></li> 
			      <% }) %>
			   </ul>
		  </div>
  </div>
  <div class="pull-left">
    <button type="button" class="btn btn-sm btn-primary js-ok">Ok</button>
    <button class="btn btn-link btn-sm text-danger js-remove"><i class="glyphicon glyphicon-trash"></i> Borrar</button>
  </div>
  <div class="clearfix"></div>
</div>