 
  <form class="form-participant">
    <div id="starMark">
      <i class="glyphicon glyphicon-star"></i>
    </div>
    <div class="container-fluid">
	    <div class="row">
	      <div class="col-xs-6">
	          <div class="row">
	            <div class="col-xs-6"> <input type="checkbox" id="checkboxVip" /> <label for="checkboxVip">VIP</label>  </div>
	            <div class="col-xs-6" data-editors="tipopersona"> </div>
	          </div>
	          
	      
	          <label>Nombre</label>
	          <div data-editors="name,nickName"></div>
		      
		        
		         <div style="margin-top:10px;">
			        <label>Tipo Juridico</label>
		          <!--div data-editors="tipojuridico"></div-->
		          <div style="padding-left:10px">
		              <% _.each(this.schema.tipojuridico.options,function(label,value){ %>
		                   <input type="radio" name="tipojuridico" id="tjc_<%=value%>" value="<%= value %>"> <label for="tjc_<%=value%>" class="inptCheck"> <%= label%></label>
		                   <br />
		              <% }) %>
		          </div>
		         </div>
	          
	          <div style="margin-top:10px;">
		          <label>Roles</label>
		          <!-- div data-editors="roles"></div-->
		          <div style="padding-left:10px">
		              <% _.each(this.schema.roles.options,function(label,value){ %>
		                   <input type="checkbox" name="roles" id="rc_<%=value%>" value="<%= value %>"> <label for="rc_<%=value%>" class="inptCheck"> <%= label%></label>
		                   <br />
		              <% }) %>
		          </div>
	          </div>
	          
	          
		        
		        
	      </div>
	      <div class="col-xs-6" >
	           <div>
			          <label class="pull-left">
		                Datos de contacto 
		            </label> 
		            <span class="pull-right">
		               <button type="button" class="btn btn-xs btn-default js-add">
                     <i class="glyphicon glyphicon-plus"></i> agregar
                   </button>
		            </span>
		            <div class="clearfix"></div>
	           </div>
	          
	          
	          <div id="datosContainer" class="well list-contact-data" style="min-height:250px;"> </div>
	          
	          <div style="margin-top:10px;">
		          <label>Notas</label>
		          <div data-editors="notas"></div>
		        </div>
	          
	          
	      </div>
	    </div>
    </div>
 </form>