<div  style="background-image:url('/background/img');background-size:cover;-webkit-background-size: cover;-o-background-size: cover;background-repeat: no-repeat;margin: -19px 0px 0px 25px; padding: 80px 120px 160px 120px; width: 850px; height: 200px;">


  <div class="user-options">
    <div class="front-signin front-card ">
      <form  action="/login" method="post">
        <div class="remember-forgot brand">Bienvenido a SiGCA</div>

        <div class="username">
          <input type='text' id='username' name='username'  value='<%= username %>' class="input-large" placeholder='usuario'>
        </div>

        <table class="flex-table password-signin">
          <tbody>
            <tr>
                <td class="flex-table-primary">
                  <div class="password flex-table-form">
                    <input type='password' name='password' value='<%= password %>' class="text-input flex-table-input" placeholder='clave'>
                  </div>
                </td>
                <td class="flex-table-secondary">
                  <button type="submit" class="submit btn primary-btn flex-table-btn js-login-submit">
                    Ingresar
                  </button>
                </td>
            </tr>
          </tbody>
        </table>



        <div class="remember-forgot">
          <label class="remember">
            <input type="checkbox" value="1" name="remember_me" checked="checked">
            <span>Recordar mis datos</span>
          </label>
        </div>


      </form>

    </div>

  </div>

</div>