<div class="row">
    <hr>
    <div class="col-xs-12">
        <h2 class="solicitante"><%= solicitante.edisplayName %> <span class="nro-serie">(<%= cnumber%>)</span></h2>
        <h4><%= solicitante.epais %> | | <%= solicitante.eprov %> | <%= solicitante.otraprov %> | <%= solicitante.elocalidad %> </h4><hr>
        <p><span class="fa fa-globe"></span> <a href="<%= solicitante.eweb %>" target="_blank"><%= solicitante.eweb %></a><br>
        <span class="fa fa-envelope-o"></span> <a href="mailto:<%= solicitante.email %>"><%= solicitante.email %></a></p>
    </div>
    <div class="col-md-8 col-xs-12">
        
        <h3>Solicitud</h3>
        <div>
            <p><%= solicitante.emotivation %></p><hr>
            <p><%= solicitante.edescription %></p>
            <hr>
            <p><%= responsable.rname %></p>
            <p><%= responsable.rmail %></p>
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
    <!--N: AGREGAR EL RESTO DE LOS ESTADOS-->
        <h3>Estado <%  if(getFieldLabel('estado_alta') === 'activo') %><span class="label label-success">ACTIVO</span></h3>
        <div><strong>PAIS:</strong> <%= solicitante.epais %></div>
        <div><strong>Año de Fundación:</strong> <%= solicitante.efundacion %></div>
        <div><strong>Cantidad de Empleados:</strong> <%= solicitante.enumempleados %></div>
        <div><strong>Facturación:</strong> AR$ <%= solicitante.eventas %></div>
        <hr>
        <div><strong>Nivel de Ejecución:</strong> <%= getFieldLabel('nivel_ejecucion')%></div>
        <div><strong>Fecha de Alta:</strong> <%= getFieldLabel('fecomp')%></div>
    </div>
    <%  if(isVendedor()){ %>
    
        <div class="col-md-12 col-xs-12">
            <h3><span class="fa fa-briefcase"></span> Perfil de Vendedor</h3><hr>
            <h4>Actividad principal: <%= getFieldLabel('vendedor').vactividades %></h4>
            <p><%= vendorSubActivities() %></p>
            <p>Palabras Claves: <%= getFieldLabel('vendedor').vdescriptores %></p>
            <p>Negocios extra-fronteras: <%= getFieldLabel('vendedor').vexperienciaintl %></p>
            <p><%= getFieldLabel('vendedor').vcomentario %></p>
            <%  if(hasVendorProfiles()){ %>
                    <h4>Referencias</h4>
                    <%  _.each(getFieldLabel('vendedor').vporfolios, function(item){ %>
                    <p><%= item.slug %></p>
                    <p><%= item.denominacion %></p>
                        <%  _.each(item.referencias, function(refer){ %>
                        <p><%= refer.tlink %>: <a href="<%= refer.targeturl %>"><%= refer.slug %></a> </p>
                        <% }) %>

                    <% }) %>
            <% } %>
       </div>

    <% } %>
    <%  if(isComprador()){ %>
    <hr>
        <div class="col-md-12 col-xs-12">
            <h3><span class="fa fa-shopping-cart"></span> Perfil de Comprador</h3><hr>
            <h4>Actividad principal: <%= getFieldLabel('comprador').cactividades %></h4>
            <p><%= compradorSubActivities() %></p>
            <p>Palabras Claves: <%= getFieldLabel('comprador').cdescriptores %></p>
            <p>Negocios extra-fronteras: <%= getFieldLabel('comprador').cexperienciaintl %></p>
            <p><%= getFieldLabel('comprador').ccomentario %></p>
            <%  if(hasCompradorProfiles()){ %>
                    <h4>Referencias</h4>
                    <%  _.each(getFieldLabel('comprador').cporfolios, function(item){ %>
                    <p><%= item.slug %></p>
                    <p><%= item.denominacion %></p>
                        <%  _.each(item.referencias, function(refer){ %>
                        <p><%= refer.tlink %>: <a href="<%= refer.targeturl %>"><%= refer.slug %></a> </p>
                        <% }) %>

                    <% }) %>
            <% } %>
       </div>

    <% } %>

</div> 