.owner-container{
  font-size: 18px;
}

.list-item-agenda-borrador {

}

.list-item-agenda-libre > div > div:first-child {
  color: #2ECC40;
  font-weight: bold;
}

.list-item-agenda-unavailable > div > div:first-child{
  color: #FF4136;
  font-weight: bold;
}

.js-meeting-unavailable, .js-meeting-error{
  background-color: #fa8564;
  border-color: #fa8564;
}

.js-meeting-no-asignada{
  background-color: #88a755;
  border-color: #88a755;
}

.js-meeting-asignada{
  background-color: #1fb5ad;
  border-color: #1fb5ad;
}


.box-agenda{
  padding: 6px;
  margin: 3px;
  border: 1px solid #ccc;
  display: inline-block;
  width:37px;
  text-align: center;
}

.box-agenda-libre{
  background-color: #8ac43e;
  color: white;
}

.box-agenda-borrador{
  background-color: #AAAAAA;
  color: white;
}

.box-agenda-unavailable{
  background-color: #FF4136;
  color: white;
}


.slim-popup{
  position: fixed;
  z-index: 1003;
  right: 0;
  top:0;

  border: 1px solid #ccc;
  width: 450px;
  height: 400px;
  -webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
}

.slim-popup .header{
  position: absolute;
  top: 0;left:0;right: 0;
  height: 25px;
  background-color: #38bbeb;
  color: white;
}

.slim-popup .js-close{
  position: absolute;
  top: 4px;
  right: 10px;
}

.slim-popup .body{
  background-color: #f1f2f7;
  color: black;
  padding: 10px;
  top: 20px;  bottom: 0;
  left: 0;right: 0;
  position: absolute;
  overflow: auto;
}
