.owner-container{
  font-size: 16px;
}

.list-item-space{
  color: #59ace2;
  font-weight: bold;
  font-size: 26px;
  margin-top: 20px;
  background-color: inherit;
  border: 0;
  padding-left: 15px;
}

.list-item-agenda-borrador {

}

.list-item-agenda-bloqueado > div > div:first-child{
  color: #a1a1a1;
}

.list-item-agenda-libre > div > div:first-child {
  color: #2ECC40;
  font-weight: bold;
}

.list-item-agenda-unavailable > div > div:first-child{
  color: #FF4136;
  font-weight: bold;
}

.js-meeting-unavailable, .js-meeting-error{
  background-color: #fa8564;
  border-color: #fa8564;
}

.js-meeting-no-asignada{
  background-color: #88a755;
  border-color: #88a755;
}

.js-meeting-asignada{
  background-color: #1fb5ad;
  border-color: #1fb5ad;
}


.box-agenda{
  padding: 5px;
  margin: 1px;
  border: 1px solid #ccc;
  display: inline-block;
  width:37px;
  text-align: center;
}

.box-agenda-libre{
  background-color: #8ac43e;
  color: white;
}

.box-agenda-asignado, .box-agenda-borrador{
  background-color: #AAAAAA;
  color: white;
}

.box-agenda-bloqueado{
  background-color: #DDD;
  color: #CCC;
  border-color: #EEE;
  border-radius: 3px;
}

.box-agenda-unavailable{
  background-color: #FF4136;
  color: white;
}


.slim-popup{
  position: fixed;
  z-index: 1003;
  right: 0;
  top:0;

  border: 1px solid #999;
  border-radius: 3px;
  width: 580px;
  height: 400px;
  -webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
}

.slim-popup .header{
  position: absolute;
  top: 0;left:0;right: 0;
  height: 30px;
  background-color: #38bbeb;
  color: white;
}

.slim-popup .header-title{
  position: absolute;
  top: 6px;
  left: 10px;
  font-weight: bold;
}

.slim-popup .header-toolbar{
  position: absolute;
  top: 6px;
  right: 10px;
}

.slim-popup .header-toolbar > *{
  display: inline-block;
  color: white;
}

.slim-popup .header-toolbar > *:hover{
  display: inline-block;
  color: inherit;
}

.slim-popup .body{
  background-color: #f1f2f7;
  color: black;
  padding: 10px;
  top: 20px;  bottom: 0;
  left: 0;right: 0;
  position: absolute;
  overflow: auto;
}


.label-rol{
  font-style: italic;
  font-weight: bold;
  color: #FF851B;
}

.row-selected{
  background-color: white;
  font-weight: bold;
}

.tool{
  margin: 10px;
}

.list-item-agenda-rondas{
  padding-top: 15px;
  padding-bottom: 15px;
}

.list-item-agenda-rondas div div h3 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin-bottom: 5px;
  font-size: 1.1em !important;
  line-height: 1.3em;
  font-weight: 700;
  font-family: Montserrat;
}

.list-item-agenda-rondas div div h3 a {
  color: rgb(51, 122, 183);
}

.list-item-agenda-rondas div div .brief p {
  font-size: 12px;
  font-weight: 300;
  font-family: Arial;
  margin: 3px 0;
}

@media print {

  .box-agenda-libre{
    color: #c3c3c3 !important;
  }

  .box-agenda-asignado, .box-agenda-borrador{
    color: black !important;
    border-color: black;
  }

  .box-agenda-bloqueado{
    color: #c3c3c3 !important;
  }

  .map-list{
    visibility: hidden;
    display:none;
  }

  .list-item-agenda-rondas{
    padding-top: 0px;
    padding-bottom: 0px;
    border:0;

  }

  .list-item-agenda-rondas{
    border-bottom: 1px solid #cecece;
    margin-bottom: 5px;
  }

  .list-item-space{
    page-break-after: always;
  }

  .well{
    border:0;
  }

  .label-mica{
    display:none;
    visibility: hidden;
  }

}
