.navbar-brand{padding: 10px 0;}
.splash-container h1 {
	font-size: 50px;
}
/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
.form-group.required .control-label:after {
  content:"*";
  color:red;
}
//.comboA, .comboB, .comboC {display: none;}
legend {
  font-weight:bold;
  font-size: 13px;
  margin-bottom: 5px;
  border-bottom: 0;
}
[data-toggle="buttons"] > .btn > input[type="radio"],
[data-toggle="buttons"] > .btn > input[type="checkbox"] {
    display:inline;
    position:absolute;
    left:-9999px;
}
.tree a {
  font-weight: bold;
}

.checkbox-inline  {
  margin-right: 15px;
}

/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*RESET TYPOGRAPHY*/
h1 {font-family: 'Montserrat', sans-serif;font-size: 28px!important;margin-bottom: 0.8em;}
h2 {font-family: 'Montserrat', sans-serif;font-size: 22px!important;margin-bottom: 0.5em;}
h3 {font-family: 'Montserrat', sans-serif;font-size: 18px!important;margin-bottom: 0.5em;}
h4 {font-family: 'Montserrat', sans-serif;font-size: 14px!important;margin-bottom: 0.5em;}
h4 {line-height: 1.4em;}
h5 {font-size: 13px!important;margin-bottom: 0.1em;line-height: 1.4em;}
h6 {font-size: 13px!important;margin-bottom: 0.1em;line-height: 1.4em;}
h1 a, h2 a, h3 a, h4 a, h5 a {color: #222;}
.form-control {font-size: 13px;color: #222}

a {color: #1C84A9}


.btn.ghost {
  background: transparent;
  color: #F2F2F2;
  /* CSS Transition */
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}
.btn.semighost {
  opacity: .7;
}

/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 29px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #468847;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 30px;
}
.avatar-upload {
  right: 10px;
  height: 81px;
  position: absolute;
  width: 81px;
  background: #EDEDED;
  border-radius: 4px;
  padding-top: 20px;
}
#cropContainerHeader {
  width: 92px;
  height: 92px;
  position: relative;
  /* or fixed or absolute */
}
#colorbar {
  height: 1px;
  background: url('../img/colorbar.png') repeat-x;
}
#limit-chars {
  position: absolute;
  right: 8px;
  top: 3px;
  z-index: 9;
  color: #999;
}
#repadicional {
  margin-top: 20px;
}
#mcn-header .ident {
  float: left;
  margin: 5px 10px 0 0;
}
.ident {
  border-radius: 80px;
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
}
.ident img,
.ident:after {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 80px;
  width: 30px;
  height: 30px;
}
.semi-transparent {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  /* IE 5-7 */
  filter: alpha(opacity=70);
  /* Netscape */
  -moz-opacity: 0.7;
  /* Safari 1.x */
  -khtml-opacity: 0.7;
  /* Good browsers */
  opacity: 0.7;
}
.add-on .input-group-btn > .btn {
  border-left-width: 0;
  left: -2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #cccccc;
}
.form-group.required .control-label:after {
  content: "*";
  color: red;
}
.centry:not(:first-of-type),
.ventry:not(:first-of-type) {
  margin-top: 10px;
}
/*** TOOLTIP ***/
#tooltip {
  text-align: center;
  color: #fff;
  background: #111;
  position: absolute;
  z-index: 100;
  padding: 15px;
}
#tooltip:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #111;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
}
#tooltip.top:after {
  border-top-color: transparent;
  border-bottom: 10px solid #111;
  top: -20px;
  bottom: auto;
}
#tooltip.left:after {
  left: 10px;
  margin: 0;
}
#tooltip.right:after {
  right: 10px;
  left: auto;
  margin: 0;
}

/*** MULTI-IDIOMA ***/
.en {
  color: #9DA4A8;
  font-weight: normal;
}
label.control-label.en {
  display: block;
}
span.en:before {
  content: ' / ';
}

/*** LISTADOS DE OFERENTES ***/
ul#profiles-collection-hook {
  padding-left: 0;
}
ul.list-unstyled li .usuario {border-bottom:solid 1px #ccc;padding:15px 0px}
ul.list-unstyled li:last-child .usuario {border-bottom:0}
ul.list-unstyled .usuario .content{margin-right:240px}
ul.list-unstyled .usuario .content{margin-left:90px}
ul.list-unstyled .usuario .avatar{float:left;margin-top:3px;margin-left:-90px}
ul.list-unstyled .usuario .acciones{float:right}
ul.list-unstyled .usuario-header img{width:73px;height:73px;overflow:hidden}
p.metadata {
  margin-bottom: 5px;
}
.label {
  padding: 0.3em 0.8em;
}
.label-mica-aescenicas{background:#55abdd}.label-mica-audiovisual{background:#faad24}.label-mica-diseno{background:#ef71aa}.label-mica-editorial{background:#f05f2f}.label-mica-musica{background:#8ac43e}.label-mica-videojuegos{background:#a4529f}
ul.list-unstyled .usuario .label {text-transform: uppercase;}
.bio {padding-right: 30px;}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form-horizontal .control-label {
  font-weight: 400;
}
.alert-info .noti-info {
  color: #63ADCF;
}
.nopadding {
  padding: 2px !important;
  margin: 0px !important;
}

ol.portfolio > li {
  border-bottom: solid 1px #ccc;
  padding: 15px 0;
}
ol.portfolio > li:last-child {
  border-bottom: 0;
  padding: 15px 0;
}
.label-tag {
  text-transform: uppercase;
  background: #DBDBDB;
  color: #9D9D9D;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
button.js-add-to-favorite:hover {
  background: #C7CBD6;
}
button.js-add-to-favorite.active,
button.js-filter-favorito.active {
  background-color: rgb(218, 87, 87)!important;
  border: solid 1px rgb(221, 118, 118)!important;
}
button.js-add-to-favorite.active:hover,
button.js-add-to-favorite:hover,
button.js-filter-favorito.active:hover,
button.js-filter-favorito:hover {
  background-color: rgb(215, 143, 143)!important;
  border: solid 1px rgb(215, 143, 143)!important;
}
.btn-default.active.focus, 
.btn-default.active:focus, 
.btn-default.active:hover, 
.btn-default.focus:active, 
.btn-default:active:focus, 
.btn-default:active:hover, 
.open > .dropdown-toggle.btn-default.focus, 
.open > .dropdown-toggle.btn-default:focus, 
.open > .dropdown-toggle.btn-default:hover {
  background-color: #b0b5b9;
  border-color: #b0b5b9;
  color: #fff;
}

button.btn.btn-sm.btn-success.js-interact-reunion.solicitada,
button.btn.btn-sm.btn-success.js-interact-reunion.recibida {
  background-color: #FAAD24;
  border-color: #FAAD24;
}

/*RELOJ*/
.js-interact-reunion.solicitada:after,
.js-interact-reunion.recibida:after {
  font-family: "FontAwesome";
  font-size: 16px;
  /* font-style: normal; */
  font-weight: 300;
  font-variant: normal;
  line-height: 1;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  vertical-align: top;
  content: "\f017";
  padding-right: 0px;
  margin-left: 10px;
    -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.js-interact-reunion.solicitada.active:after,
.js-interact-reunion.recibida.active:after {
  content: "\f06e";
    -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.buscador-sm {
  display: inline-block;
  padding: 6px 12px;
  height: 30px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #C7CBD6;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.avatar {
  margin-bottom: 30px;
}
.buscador-sm-go {
  border-radius: 0 4px 4px 0;
} 
.renderable .btn-link {
  margin-right: 2px;
}
#feature-block-region ul {
  padding-left: 0;
}
#feature-block-region ul li {
  text-align: center;
  list-style: none;
  margin-bottom: 20px;
}
#feature-block-region ul li a:hover .fa-stack {
  transition: 0.9s;
  transform: rotateY(360deg);
}
.fa-6x {
  font-size: 6em;
}
#feature-block-region .item-1 a .fa-circle{
  color: rgba(79, 156, 221, 0.6);
}
#feature-block-region .item-2 a .fa-circle{
  color: rgba(79, 156, 221, 0.6);
}
#feature-block-region .item-3 a .fa-circle{
  color: rgba(79, 156, 221, 0.6);
}
#feature-block-region .item-4 a .fa-circle{
  color: rgba(79, 156, 221, 0.6);
}
#feature-block-region .item-5 a .fa-circle{
  color: rgba(79, 156, 221, 0.6);
}
#feature-block-region .item-6 a .fa-circle{
  color: rgba(79, 156, 221, 0.6);
}
#feature-block-region .item-7 a .fa-circle{
  color: rgba(79, 156, 221, 0.6);
}
.buttons.splash-right a {
  white-space: normal;
  margin-bottom: 10px;
}
#feature-items-region {
  display: none;
}
.splash-right a.btn-success {
  color: #E8F5D2;
}
.splash-right a.btn-warning {
  color: #FCF7E9;
}
.splash-right a.btn-info {
  color: #E6F2F7;
}

.btn-fondo {
  background: #BF58B3;
  color: #F0D0ED;
}
.btn-fondo:hover {
  background: #A54C9A;
  color: #F0D0ED;
}
/*** REDES SOCIAL LINK ICONS ***/
.social-navigation {
  margin: 0;
}
.social-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.social-navigation li {
  float: left;
  margin-left: 5px;
}
.social-navigation a {
  display: block;
  height: 30px;
  position: relative;
  width: 30px;
}

.social-navigation a:before {
  content: "\f415";
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #444444;
  padding-top: 7px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #fff;
}
.social-navigation a:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  vertical-align: top;
  content: "\f0ac";
}
.social-navigation a[href*="facebook.com"]:before {
  content: "\f09a";
}
.social-navigation a[href*="facebook.com"]:hover:before {
  background-color: #3b5998;
}

.social-navigation a[href*="flickr.com"]:before {
  content: "\f16e";
}
.social-navigation a[href*="flickr.com"]:hover:before {
  background-color:#ff0084;
}

.social-navigation a[href*="foursquare.com"]:before {
  content: "\f180";
}
.social-navigation a[href*="foursquare.com"]:hover:before {
  background-color:#26B2ED;
}

.social-navigation a[href*="plus.google.com"]:before {
  content: "\f1a0";
}
.social-navigation a[href*="plus.google.com"]:hover:before {
  background-color:#dd4b39;
}

.social-navigation a[href*="instagram.com"]:before {
  content: "\f16d";
}
.social-navigation a[href*="instagram.com"]:hover:before {
  background-color:#A17860;
}

.social-navigation a[href*="linkedin.com"]:before {
  content: "\f08c";
}
.social-navigation a[href*="linkedin.com"]:hover:before {
  background-color:#007bb6;
}

.social-navigation a[href*="pinterest.com"]:before {
  content: "\f0d2";
}
.social-navigation a[href*="pinterest.com"]:hover:before {
  background-color:#cb2027;
}

.social-navigation a[href*="tumblr.com"]:before {
  content: "\f173";
}
.social-navigation a[href*="tumblr.com"]:hover:before {
  background-color:#32506d;
}

.social-navigation a[href*="twitter.com"]:before {
  content: "\f099";
}
.social-navigation a[href*="twitter.com"]:hover:before {
  background-color:#00aced;
}

.social-navigation a[href*="vimeo.com"]:before {
  content: "\f194";
}
.social-navigation a[href*="vimeo.com"]:hover:before {
  background-color:#45bbff;
}

.social-navigation a[href*="youtube.com"]:before {
  content: "\f16a";
}
.social-navigation a[href*="youtube.com"]:hover:before {
  background-color:#bb0000;
}

.social-navigation a[href*="mailto:"]:before {
  content: "\f0e0";
}
.social-navigation a[href*="mailto:"]:hover:before {
  background-color:#99aabb;
}

.social-navigation a[href*="spotify.com"]:before {
  content: "\f1bc";
}
.social-navigation a[href*="spotify.com"]:hover:before {
  background-color:#2EBD59;
}

/*** DATA TOOLTIP ***/
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 12px;
  line-height: 1.4;
  word-wrap: break-word;
  white-space: pre-wrap;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


/*** BACKBONE FORMS ***/
.field-nivel_interes  ul {
  border:0;
}
.field-nivel_interes  ul li {
  display: inline-block;
  margin-right: 10px;
}

@media only screen  and (max-width: 480px)  {
  ul.list-unstyled .usuario .content {
    margin-left: 0;
    margin-right: 0;
  }
  ul.list-unstyled .usuario .avatar {
    float: left;
    margin-top: 0;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .btn-group.acciones {
    float: right;
    width: 100%;
    margin-bottom: 10px;
  }
  #filter-form-region {
    width: 100%;
  }
  #filter-form-region > .btn-group {
    margin-top: 0!important;
  }
  .js-reuniones-recibidas,
  .js-reuniones-solicitadas {
    font-size: 12px;
  }
  .btn-group.hidden-print.nopadding.pull-right {
    width: 100%;
    margin-top: 20px!important;
  }
}