<div id="itinerario-form">

<div class="row">
  <div class="col-sm-4 col-xs-12 form-group">
    <label class="control-label" for="qtramos">Cantidad de Tramos</label>
    <div class="input-group">
      <input type="text" id="qtramos" class="form-control" placeholder="Destinos a recorre" name="qtramos" value='<%= qtramos %>'/>
      <div class="input-group-addon">
        <div title="Indique la dirección Web (URL) principal del evento" rel="tooltip">
          <span class="fa fa-question-circle"></span>
        </div>
      </div>
    </div>
    <span class="help-block"></span>
  </div>
  <div class="col-sm-4 col-xs-12 form-group">
    <label class="control-label" for="qpax">Cantidad de Pasajeros</label>
    <div class="input-group">
      <input type="text" id="qpax" class="form-control" placeholder="Pasajes requeridos" name="qpax" value='<%= qpax %>'/>
      <div class="input-group-addon">
        <div title="Cantidad de personas que se trasladan" rel="tooltip">
          <span class="fa fa-question-circle"></span>
        </div>
      </div>
    </div>
    <span class="help-block"></span>
  </div>
  <div class="col-sm-4 col-xs-12 form-group">
    <label class="control-label" for="qpax">Cantidad Mínima de Pasajes</label>
    <div class="input-group">
      <input type="text" id="qpax" class="form-control" placeholder="Pasajes mínimos" name="qpax" value='<%= qpax %>'/>
      <div class="input-group-addon">
        <div title="Cantidad por debajo de la cual Usted cancelaría el viaje/ gira" rel="tooltip">
          <span class="fa fa-question-circle"></span>
        </div>
      </div>
    </div>
    <span class="help-block"></span>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-xs-12 form-group">
    <label class="control-label" for="description">Descripción ejecutiva. Fecha e itinerario previsto</label>
    <div class="input-group">
      <input type="text" id="description" class="form-control" placeholder="Fecha tentativa de salida, destino." name="description" value='<%= description %>'/>
      <div class="input-group-addon">
        <div title="Síntesis ejecutiva de fechas y lugares a recorrer, que luego detalla en la sección 'Tramos'." rel="tooltip">
          <span class="fa fa-question-circle"></span>
        </div>
      </div>
    </div>
    <span class="help-block"></span>
  </div>
</div>

</div>
