<h3>Estimado/a <%= toName %>:</h3>
<hr>
<p>
<p>¡Ya creaste tu usuario para aplicar al Fondo Argentino de Desarrollo Cultural</p>
<p>Estos son tus datos para poder ingresar:</p>

<p>Enlace: <%= server %>/ingresar/#mica</p>
<p>Usuario: <%= username %></p>

<p>Tendrás que ingresar la contraseña que oportunamente elegiste. Por razones de seguridad dicha clave ha sido encriptada.</p>

<p>
	Seguinos a través de las redes y del sitio Web del Ministerio de Cultura
</p>

<p>
	<h4><a href="https://www.facebook.com/CulturaArgentina" >Facebook: Ministerio de Cultura</a></h4>
	<h4><a href="https://twitter.com/cultura_nacion" >Twitter: @micacultura</a></h4>
	<h4>www.mica.gob.ar</h4>
</p>

<p>Contacto:</p>
<p>mail: fondo.movilidad@cultura.gob.ar</p>
<p>Tel.: + 54 11 4383 4898</p>
