<h3>Estimado/a <%= toName %>:</h3>
<hr>
<p>
<p>¡Ya creaste tu usuario en la plataforma de Licencias Digitales para Obras de arte!</p>
<p>Estos son tus datos para poder ingresar:</p>

<p>Enlace: <%= server %>/ingresar/#obras</p>
<p>Usuario: <%= username %></p>

<p>Tendrás que ingresar la contraseña que oportunamente elegiste. Por razones de seguridad no se incluye en este correo.</p>


<p>Seguí los siguientes pasos:
</p> 

<p> <strong>1.- Iniciá sesión</strong> con tu nuevo usuario en el siguiente enlace:</p>

<p>     http://sisplan.cultura.gob.ar:3000/ingresar/#obras </p>

<p>
2.- <strong>Ingresa tus obras de arte.</strong> 
</p>

<p>
3.- <strong>Crea una solicitud para la licencia de exportación</strong> 
</p>