<h3>Estimado/a <%= toName %>:</h3>
<hr>
<p>Este correo electrónico te provee un enlace para regenerar la clave de acceso a la intranet del Ministerio de Cultura</p>
<hr>
<p>Regenerá tu clave de acceso en el siguiente enlace: </p>

<p>Enlace: <a href="<%= server %>/ingresar/#recuperar/clave/<%=id%>">Haga clic aquí</a></p>
<p>Usuario: <%= username %></p>
<br/>
<hr>
<p>NOTA: Si no solicitaste el cambio de clave de acceso, o tenés alguna duda sobre la procedencia o motivación de este correo electrónico, no dudes en llamarnos a los teléfonos que se indican más abajo. Puedes desestimar la presente notificación, porque hasta este momento ningún dato de tu perfil ha sido modificado en el Sistema.</p>
<p>
Seguinos a través de las redes y la web oficial de MICA 2015
</p>
<p>
<h4>FB: MICAcultura</h4>
<h4>TW: @micacultura</h4>
<h4>www.mica.gob.ar</h4>
</p>


<p>Contacto:</p>
<p>mail: mica@cultura.gob.ar</p>
<p>Tel.: + 54 11 4129-2474/ 2485</p>
