<h3>Estimado/a <%= toName %>:</h3>
<hr>
<p>
<p>¡Ya creaste tu usuario en la plataforma de MICA 2015!</p>
<p>Estos son tus datos para poder ingresar:</p>

<p>Enlace: <%= server %>/ingresar/#mica</p>
<p>Usuario: <%= username %></p>

<p>Tendrás que ingresar la contraseña que oportunamente elegiste. Por razones de seguridad no se incluye en este correo.</p>


<p>El siguiente paso es crear tu perfil y cargar contenido para que otros conozcan de qué se trata tu emprendimiento o proyecto. Para eso, seguí los siguientes pasos:
</p> 

<p> <strong>1.- Iniciá sesión</strong> con tu nuevo usuario en la web de MICA 2015 desde el siguiente enlace:</p>

<p> http://www.mica.gob.ar</p>

<p>
2.- <strong>Completá el formulario de inscripción, en el que se te solicitará:</strong> 
</p>

<ul>
	<li>
		Los datos de tu empresa 
	</li>
	<li>
		Los datos de un representante
	</li>
	<li>
		Las especificaciones de tu perfil como vendedor y/o comprador, cargando en ambos casos el contenido de tu producto/proyecto/servicio agregando fotos, videos, links, etc. 
	</li>
</ul>

<p>
</p>
Tené en cuenta que tu perfil es tu primer punto de contacto con los empresarios y demás participantes del MICA; por favor procura que la información sea lo más concisa y clara posible para los demás usuarios.

<p>
<strong>¡ATENCIÓN!</strong> El proceso recién comienza. Desde el 20 de julio podrás pedir y/o aceptar solicitudes de reuniones en el marco de las rondas de negocios, contactarte con compradores y/o vendedores, hacer consultas, etc.
</p>

<p>
Seguinos a través de las redes y la web oficial de MICA 2015
</p>
<p>
<h4>FB: MICAcultura</h4>
<h4>TW: @micacultura</h4>
<h4>www.mica.gob.ar</h4>
</p>
<p>


<p>Contacto:</p>
<p>mail: mica@cultura.gob.ar</p>
<p>Tel.: + 54 11 4129-2474/ 2485</p>
