<div class="panel panel-secondary">
	<div class="panel-heading">
		Usuario <%= displayName %>
	</div>
	<div class="panel-body">
		<h4><%= username %></h4>
		<p><strong>ÁreaMCN: </strong><%= area %> </p>
		<p><strong>Grupo: </strong><%= grupo %></p>
		<p><strong>EstadoAlta: </strong><%= estado_alta %></p>
		<hr>
		<p><strong>Home: </strong>[<%= home %>]</p>
		<p><strong>Módulos: </strong><%= modulos %></p>
		<p><strong>Atributos: </strong><%= atributos %> </p>
		<p><strong>Roles: </strong><%= roles %></p>
		<button class="btn btn-success js-add-user-mica">InvitarMICA</button>	
		<button class="btn btn-success js-add-user-fondo">InvitarFondo</button>
		<hr>
		<button class="btn btn-warning js-add-manager-mica">AdministradorMICA</button>	
		<button class="btn btn-warning js-add-manager-fondo">AdministradorFondo</button>

	</div>
</div>
<hr>
