<h3>Estimado/a <%= toName %>:</h3>
<hr>
<p>
	¡Has comenzado tu solicitud para aplicar al Fondo Argentino de Desarrollo Cultural 2015 - Línea Movilidad!
</p>
<p>
	Se ha dado de alta o modificado tu solicitud número: <%= cnumber %>  con fecha <%= fecomp %> con el siguiente asunto:  <br><%= slug %></p>

<p>Para completar tu postulación y enviar tu proyecto deberás ingresar a <a href="<%= server %>/fondo/#inscripcion/<%= nodeId %>/edit" >este</a> enlace. Recuerda que una vez que hayas completado el formulario online y hagas el envío definitivo tu proyecto estará listo para ser evaluado y ya no podrá ser modificado.</p>

<p>
	Seguinos a través de las redes y del sitio Web del Ministerio de Cultura
</p>

<p>
	<h4><a href="https://www.facebook.com/CulturaArgentina" >Facebook: Ministerio de Cultura</a></h4>
	<h4><a href="https://twitter.com/cultura_nacion" >Twitter: @micacultura</a></h4>
	<h4>www.mica.gob.ar</h4>
</p>

<p>Contacto:</p>
<p>mail: fondo.movilidad@cultura.gob.ar</p>
<p>Tel.: + 54 11 4383 4898</p>
