<h3>Estimado/a <%= toName %>:</h3>
<hr>
<p>
	¡Has comenzado tu solicitud para aplicar al Fondo de Cultura 2015!
</p>
<p>
	Se ha dado de alta o modificado tu solicitud número: <%= cnumber %>  con fecha <%= fecomp %> con el siguiente asunto:  <br><%= slug %></p>

<p>El programa Fondo Argentino 2015 es una iniciativa para contribuir con el desarrollo de la industria cultural</p>

<p>Siempre podrás completar, revisar y/o ampliar tu información accediendo a <a href="<%= server %>/fondo/#inscripcion/<%= nodeId %>/edit" >este</a> enlace</p>

<p>
	Seguinos a través de las redes y la web oficial de FONDO 2015
</p>

<p>
	<h4><a href="https://www.facebook.com/MICAcultura" >FB: MICAcultura</a></h4>
	<h4><a href="https://twitter.com/MICAcultura" >TW: @micacultura</a></h4>
	<h4>www.mica.gob.ar</h4>
</p>

<p>Contacto:</p>
<p>mail: mica@cultura.gob.ar</p>
<p>Tel.: + 54 11 4129-2474/ 2485</p>
