<div class="row">
    <hr>
    <div class="col-xs-12">
        <h2 class="solicitante"><span class="nro-serie"><%= cnumber%></span> - <%= requerimiento.tsolicitud%></h2>
        <h4 class="solicitante"><%= responsable.edisplayName %></h4>
        <p><strong>Actividad: </strong><%= responsable.actividadppal %></p>
        <p><%= responsable.ename %></p>
        <p>CUIT / CUIL: <%= responsable.ecuit %></p>
        <p><%= responsable.edomicilio %> | (<%= responsable.ecp %>) <%= responsable.elocalidad %> </p>
        <h4><%= responsable.epais %> | | <%= responsable.eprov %> | <%= responsable.otraprov %></h4>

        <p><span class="fa fa-globe"></span> <a href="<%= responsable.eweb %>" target="_blank"><%= responsable.eweb %></a><br>
        <span class="fa fa-envelope-o"></span> <a href="mailto:<%= responsable.email %>"><%= responsable.email %></a></p>
        <hr>
        <p><%= requerimiento.motivacion %></p>
        <hr>

    </div>

    <div class="col-md-8 col-xs-12">
            <p><%= responsable.rname %></p>
            <p><%= responsable.rcargo %></p>
            <p>Documento: <%= responsable.rdocnum %> Fecha de Nacimiento: <%= responsable.rfenac %></p>
            <p></p>
            <p><%= responsable.rtel %></p>
            <p><%= responsable.rcel %></p>
            <p><span class="fa fa-envelope-o"></span> <a href="mailto:<%= responsable.rmail %>"><%= responsable.rmail %></a></p>
    </div>
    <div class="col-md-4 col-xs-12">
    <!--N: AGREGAR EL RESTO DE LOS ESTADOS-->
        <h3 class="solicitante">Responsable</h3>
        <div><strong>Estado:</strong> <%  if(getFieldLabel('estado_alta') === 'activo') %><span class="label label-success">ACTIVO</span></div>
        <div><strong>Pais:</strong> <%= responsable.epais %></div>
        <div><strong>Fecha de Alta:</strong> <%= getFieldLabel('fecomp')%></div>
                
    </div>
    <hr>

</div> 
<div class="row">
    <div class="col-sm-6 col-xs-12">


<% _.each(movilidad.tramos, function(tramo){   %>
        <h3 class="solicitante">Tramo: <%= tramo.ttramo %></h3>
        <div class="row">
            <div class="col-sm-6 cos-xs-12">
                <h4>Origen</h4>
                <p><strong></strong><%= tramo.fesalida %></p>
                <p><strong></strong><%= tramo.origen %></p>
            </div>
            <div class="col-sm-6 cos-xs-12">
                <h4>Destino</h4>
                <p><strong></strong><%= tramo.fevuelta %></p>
                <p><strong></strong><%= tramo.destino %></p>
            </div>
        </div>


<% }) %>



    </div>
    <div class="col-sm-6 col-xs-12">
        <h3 class="solicitante">Viaje</h3>

        <p><strong>Descripción ejecutiva: </strong><%= movilidad.description %></p>
        <p>Tramos: <%= movilidad.tramos.length %> </p>
        <p><strong>Pasajeros: </strong><%= movilidad.qpax %></p>
        <p><strong>Pasajeros min </strong><%= movilidad.qpaxmin %></p>

    </div>
</div>

