<div class="fuelux">
	<section class="page-view">
		<div role="main">
			<div class="row margin-section">  
				<div class="form col-xs-12 col-md-12">
					<!--BEG FORM-->
					<div class="fu-example section">
						<div class="wizard" data-initialize="wizard" id="myWizard">
							<ul class="steps" style="margin-left: 0">
                <li data-step="1"><span class="badge badge-info">1</span>Empresa<span class="chevron"></span></li>
                <li data-step="2"><span class="badge">2</span>Representantes<span class="chevron"></span></li>
                <li data-step="3"><span class="badge">3</span>Comprar<span class="chevron"></span></li>
                <li data-step="4"><span class="badge">4</span>Vender<span class="chevron"></span></li>
								<li data-step="5" class="active" ><span class="badge">5</span>Confirmación<span class="chevron"></span></li>
              </ul>
							<div class="actions">
								<button class="btn btn-default btn-prev" disabled="disabled"><span class="glyphicon glyphicon-arrow-left"></span></button>
								<button class="btn btn-default btn-next" data-last="FINALIZAR"><span class="glyphicon glyphicon-arrow-right"></span></button>
							</div>
							
							<div class="step-content">
								<div class="step-pane active" data-step="1">
									<h4>Datos de la Empresa o Institución</h4>
									<div class="avatar-upload">
										<div id="cropContainerEyecandy" name='cropContainerEyecandy'></div>
									</div>
                  <div class="form-group">
										<div class="row">
											<div class="col-sm-5 col-xs-9">
												<label class="control-label">Nombre de la Empresa (alias)</label>
												<input type="text" class="form-control" id="edisplayName" name="edisplayName" value='<%= edisplayName %>'/>
                        <span class="help-block"></span>
											</div>
											<div class="col-sm-5 col-xs-9">
												<label class="control-label">Razón social</label>
												<input type="text" class="form-control" id="ename" name="ename" value='<%= ename %>'/>
											</div>
                    </div>
                  </div>
									<div class="form-group col-sm-10">
										<div class="row">
											<label class="control-label">Describa el perfil de la empresa/institución</label>
											<textarea class="form-control" id="edescription" name="edescription" rows="2" placeholder="Escriba su descripción en un máximo de 140 caracteres"><%= edescription %> </textarea>
											<p id="limit-chars"></p>
										</div>
									</div>
									<div class="form-group col-sm-10">
										<div class="row">
											<label class="control-label">Explique su principal motivación para participar de este evento</label>
											<textarea class="form-control" id="slug" name="slug" rows="2" placeholder="Utilice un máximo de 140 caracteres"><%= slug %> </textarea>
											<p id="limit-chars"></p>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-4 selectContainer">
												<label class="control-label">País</label>
												<select class="form-control" id="epais" name="epais">
													<%= utils.buildSelectOptions('epais',utils.paisesOptionList.Paises, epais) %>
												</select>
											</div>
											<div class="col-sm-4 selectContainer">
												<label class="control-label">Provincia</label>
												<select class="form-control" id="eprov" name="eprov">
														<%= utils.buildSelectOptions("eprov",utils.provinciasOptionList.Argentina, eprov) %>
												</select>
											</div>
										
											<div class="col-sm-4">
												<label class="control-label">Localidad</label>
												<input type="text" class="form-control" id="elocalidad" name="elocalidad" value="<%= elocalidad %>" >
											</div>
										</div>
									</div>
										
									<div class="form-group">
										<div class="row">
											<div class="col-sm-4 selectContainer">
												<label class="control-label">CUIT</label>
												<input type="text" class="form-control" id="ecuit" name="ecuit" value='<%= ecuit %>'/>
											</div>
											<div class="col-sm-8">
												<label class="control-label">Domicilio</label>
												<input type="text" class="form-control" id="edomicilio" name="edomicilio" value='<%= edomicilio %>'/>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">

											<div class="col-sm-2 selectContainer">
												<label class="control-label">CP</label>
												<input type="text" class="form-control" id="ecp"name="ecp" value='<%= ecp %>'/>
											</div>

											<div class="col-sm-5">
												<label class="control-label">Email</label>
												<input type="email" class="form-control" id="email" name="email" value='<%= email %>'>
											</div>

											<div class="col-sm-5">
													<label class="control-label">Web</label>
													<input type="text" class="form-control" id="eweb" name="eweb" value='<%= eweb %>'/>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-4">
												<label class="control-label">Año de Fundación</label>
												<input type="text" class="form-control" id="efundacion" name="efundacion" value='<%= efundacion %>'>
											</div>

											<div class="col-sm-4">
												<label class="control-label">Nro. de empleados</label>
												<input type="text" class="form-control" id="enumempleados" name="enumempleados" value='<%= enumempleados %>'/>
											</div>

											<div class="col-sm-4">
												<label class="control-label">Facturación anual</label>
												<input type="text" class="form-control" id="eventas" name="eventas" value='<%= eventas %>'>
											</div>
										</div>
									</div>
                </div><!-- END EVENTO --> 
                
                <div class="step-pane" data-step="2">
									<h4>Representante que participará de la ronda</h4>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-12">
												<label class="control-label">Email del Responsable</label>
												<input type="text" class="form-control" id="rmail" name="rmail" value='<%= rmail %>' disabled><!--A completar automáticamente-->
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-8">
												<label class="control-label">Nombre y apellido del Responsable</label>
												<input type="text" class="form-control" id="rname" name="rname" value='<%= rname %>'/>
	                       <span class="help-block"></span>
										</div>
											<div class="col-sm-4">
												<label class="control-label">Cargo</label>
												<input type="text" class="form-control" id="rcargo" name="rcargo" value='<%= rcargo %>'/>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-3">
												<label class="control-label">DNI</label>
												<input type="text" class="form-control" id="rdni" name="rdni" placeholder="XXXXXXXX" value='<%= rdni %>' />
											</div>
											
											<div class="col-sm-3">
												<label class="control-label">Fecha de nacimiento</label>
												<input type="text" class="form-control" id="rfenac" name="rfenac" value='<%= rfenac %>'/>
											</div>
											
											<div class="col-sm-3">
												<label class="control-label">Teléfono</label>
												<input type="text" class="form-control" id="rtel" name="rtel" value='<%= rtel %>'/>
											</div>

											<div class="col-sm-3">
												<label class="control-label">Teléfono móvil</label>
												<input type="text" class="form-control" id="rcel" name="rcel" value='<%= rcel %>'/>
											</div>

										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-12">
												<label class="control-label">Idiomas que domina</label>
												<input type="text" class="form-control" id="ridiomas" name="ridiomas" value="<%= ridiomas %>">
											</div>
										</div>
									</div>
									<hr class="spacer">
									<a id="nuevo-req-btn" >
										<button id="itemFormBtn" type="button" class="btn btn-primary">Agregar otro representante</button>
									</a>
									<!--Otro Representante-->
									<div id="nuevo-req-form" class="col-xs-12 col-md-12 sistema-box"></div>
                  <!--END Otro Representante-->
									<div id='soldetails-region' class="col-xs-12 col-md-12 sistema-box row spacer"></div>
								</div><!-- END RESPONSABLES -->
  
                <div class="step-pane" data-step="3">
									<h4>ACTIVE SU PERFIL DE COMPRADOR</h4> 
									<p>Si Usted desea adquirir bienes o servicios culturales active su perfil de <strong>COMPRADOR</strong></p>
									<div id="data" class="switch">
										<input id="buyer" class="cmn-toggle cmn-toggle-round"  name='rolePlaying'  value='comprador' <%= rolePlaying.comprador ? 'checked' : '' %> type="checkbox" >
										<label for="buyer"></label>
									</div>
									<!--BEG INFO COMO COMPRADOR-->
									<div id="infocomprador" class="hidden"><hr>
										<h5>Actividades sobre las que desea inscribirse como comprador</h5>  
										<div class="form-group" id="cactividades">
											<div class="checkbox" id="buyteatro">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input type="checkbox" name='cactividades' id='aescenicas' value="aescenicas"  <%= cactividades['aescenicas']  ? 'checked':'' %> >
													<span class="checkbox-label">Artes escénicas</span>
												</label>
											</div>
											<div class="checkbox" id="buyaudiovisual">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input type="checkbox" name='cactividades' id='audivisual' value="audivisual"  <%= cactividades['audivisual']  ? 'checked':'' %> >
													<span class="checkbox-label">Audiovisual</span>
												</label>
											</div>
											<div class="checkbox" id="buydiseno">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input type="checkbox" name='cactividades' id='disenio' value="disenio"  <%= cactividades['disenio']  ? 'checked':'' %> >
													<span class="checkbox-label">Diseño</span>
												</label>
											</div>
											<div class="checkbox" id="buyeditorial">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input type="checkbox" name='cactividades' id='editorial' value="editorial"  <%= cactividades['editorial']  ? 'checked':'' %> >
													<span class="checkbox-label">Editorial</span>
												</label>
											</div>
											<div class="checkbox" id="buymusica">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input type="checkbox" name='cactividades' id='musica' value="musica"  <%= cactividades['musica']  ? 'checked':'' %> >
													<span class="checkbox-label">Música</span>
												</label>
											</div>
											<div class="checkbox" id="buyvideojuegos">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input type="checkbox" name='cactividades' id='videojuegos' value="videojuegos"  <%= cactividades['videojuegos']  ? 'checked':'' %> >
													<span class="checkbox-label">Videojuegos y Apps</span>
												</label>
											</div>
										</div>
										
										<div class="form-group">
											<div class="row">
												<div class="form-group">
													<label class="col-sm-12 control-label">Palabras clave</label>
													<div class="col-sm-12">
														<select multiple id="cdescriptores" name="cdescriptores" class="form-control" data-role="tagsinput" placeholder="Ingrese términos claves y luego presione Enter." value='<%= cdescriptores %>'>
            						<%= utils.buildMultiSelectOptions('cdescriptores',utils.tagsBuyerMica, cdescriptores) %>
														</select>
													</div>
												</div>

												<div class="form-group col-sm-12">
													<label class="control-label">Detalle los productos y/o servicios de la empresa/institución</label>
													<textarea class="form-control" id='cproductos' name="cproductos" rows="4"><%= cproductos %></textarea>
												</div>
                              
												<div class="form-group col-sm-12">
													<p><strong>¿Hace negocios con actores culturales del exterior?</strong></p>
													<label class="radio-custom radio-inline" data-initialize="radio" >
														<input   <%= cexpinternacional==='4'  ? 'checked':'' %> name="cexpinternacional" type="radio" value="4"> Frecuentemente
													</label>
													<label class="radio-custom radio-inline" data-initialize="radio" >
														<input   <%= cexpinternacional==='2'  ? 'checked':'' %> name="cexpinternacional" type="radio" value="2"> Esporádicamente
													</label>
													<label class="radio-custom radio-inline" data-initialize="radio" >
														<input   <%= cexpinternacional==='1'  ? 'checked':'' %> name="cexpinternacional" type="radio" value="1"> Nunca
													</label>
												</div>

												<div class="form-group col-sm-12">
													<p><strong>¿Hace negocios con actores culturales de otras provincias?</strong></p>
													<label class="radio-custom radio-inline" data-initialize="radio" id="prov-buy-always">
														<input   <%= cexpregional==='4'  ? 'checked':'' %> name="cexpregional" type="radio" value="4"> Frecuentemente
													</label>
													<label class="radio-custom radio-inline" data-initialize="radio" id="cexpregional-often">
														<input   <%= cexpregional==='2'  ? 'checked':'' %> name="cexpregional" type="radio" value="2"> Esporádicamente
													</label>
													<label class="radio-custom radio-inline" data-initialize="radio" id="cexpregional-never">
														<input   <%= cexpregional==='1'  ? 'checked':'' %> name="cexpregional" type="radio" value="1"> Nunca
													</label>
												</div>

												<div class="form-group col-sm-12">
													<label class="control-label">Principales mercados con los que hace negocios (Completar nombre, lugar y país)</label>
													<textarea class="form-control" name="cmercados" rows="4"><%= cmercados %></textarea>
												</div>

												<div class="form-group col-sm-12">
													<label class="control-label">Participa de Ferias / eventos (Completar nombre, lugar y país)</label>
													<textarea class="form-control" name="cferias" rows="4"><%= cferias %></textarea>
												</div>

												<div class="form-group col-sm-12">
													<label class="control-label">Propósito de su participación en este evento</label>
													<textarea class="form-control" name="cobjetivo" rows="4"><%= cobjetivo %></textarea>
												</div>
												<div class="form-group col-sm-12">
													<label class="control-label">Comentarios adicionales sobre su participación como comprador en el evento</label>
													<textarea class="form-control" name="ccomentario" rows="4"><%= ccomentario %></textarea>
												</div>
											</div>
										</div>
									</div><!--END INFO COMO COMPRADOR-->
								</div>
                
                <div class="step-pane" data-step="4">
									<h4>ACTIVE SU PERFIL DE VENDEDOR</h4>
									<p>En caso de tener productos o servicios culturales para <strong>VENDER</strong>, active su perfil de Vendedor.</p>
									<div id="data" class="switch">
										<input id="seller" class="cmn-toggle cmn-toggle-round"   name='rolePlaying'   <%= rolePlaying.vendedor ? 'checked' : '' %>  value='vendedor' type="checkbox">
										<label for="seller"></label>
									</div>
									
									<!--BEG INFO COMO VENDEDOR-->
									<div id="infovendedor" class="hidden"><hr>
										<h5>Actividades sobre las que desea inscribirse como vendedor</h5>  
										<div class="form-group" id="vactividades">
											<div class="checkbox" id="buyteatro">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input type="checkbox" name='vactividades' id='vaescenicas' value="aescenicas"  <%= vactividades['aescenicas']  ? 'checked':'' %> >
													<span class="checkbox-label">Artes escénicas</span>
												</label>
											</div>
											<div class="checkbox" id="buyaudiovisual">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input type="checkbox" name='vactividades' id='vaudivisual' value="audivisual"  <%= vactividades['audivisual']  ? 'checked':'' %> >
													<span class="checkbox-label">Audiovisual</span>
												</label>
											</div>
											<div class="checkbox" id="buydiseno">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input type="checkbox" name='vactividades' id='vdisenio' value="disenio"  <%= vactividades['disenio']  ? 'checked':'' %> >
													<span class="checkbox-label">Diseño</span>
												</label>
											</div>
											<div class="checkbox" id="buyeditorial">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input type="checkbox" name='vactividades' id='veditorial' value="editorial"  <%= vactividades['editorial']  ? 'checked':'' %> >
													<span class="checkbox-label">Editorial</span>
												</label>
											</div>
											<div class="checkbox" id="buymusica">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input type="checkbox" name='vactividades' id='musica' value="musica"  <%= vactividades['musica']  ? 'checked':'' %> >
													<span class="checkbox-label">Música</span>
												</label>
											</div>
											<div class="checkbox" id="buyvideojuegos">
												<label class="checkbox-custom" data-initialize="checkbox">
													<input type="checkbox" name='vactividades' id='videojuegos' value="videojuegos"  <%= vactividades['videojuegos']  ? 'checked':'' %> >
													<span class="checkbox-label">Videojuegos y Apps</span>
												</label>
											</div>
										</div>
										
										<div class="form-group">
											<div class="row">
												<div class="form-group">
													<label class="col-sm-12 control-label">Palabras clave</label>
													<div class="col-sm-12">
														<select multiple id="vdescriptores" name="vdescriptores" class="form-control" data-role="tagsinput" placeholder="Ingrese términos claves y luego presione Enter." value='<%= vdescriptores %>'>
            						<%= utils.buildMultiSelectOptions('vdescriptores',utils.tagsSellerMica, vdescriptores) %>

														</select>
													</div>
												</div>

												<div class="form-group col-sm-12">
													<label class="control-label">Detalle los productos y/o servicios de la empresa/institución</label>
													<textarea class="form-control" id='vproductos' name="vproductos" rows="4"><%= vproductos %></textarea>
												</div>
                              
												<div class="form-group col-sm-12">
													<p><strong>¿Hace negocios con actores culturales del exterior?</strong></p>
													<label class="radio-custom radio-inline" data-initialize="radio" >
														<input   <%= vexpinternacional==='4'  ? 'checked':'' %> name="vexpinternacional" type="radio" value="4"> Frecuentemente
													</label>
													<label class="radio-custom radio-inline" data-initialize="radio" >
														<input   <%= vexpinternacional==='2'  ? 'checked':'' %> name="vexpinternacional" type="radio" value="2"> Esporádicamente
													</label>
													<label class="radio-custom radio-inline" data-initialize="radio" >
														<input   <%= vexpinternacional==='1'  ? 'checked':'' %> name="vexpinternacional" type="radio" value="1"> Nunca
													</label>
												</div>

												<div class="form-group col-sm-12">
													<p><strong>¿Hace negocios con actores culturales de otras provincias?</strong></p>
													<label class="radio-custom radio-inline" data-initialize="radio" id="prov-buy-always">
														<input   <%= vexpregional==='4'  ? 'checked':'' %> name="vexpregional" type="radio" value="4"> Frecuentemente
													</label>
													<label class="radio-custom radio-inline" data-initialize="radio" id="vexpregional-often">
														<input   <%= vexpregional==='2'  ? 'checked':'' %> name="vexpregional" type="radio" value="2"> Esporádicamente
													</label>
													<label class="radio-custom radio-inline" data-initialize="radio" id="vexpregional-never">
														<input   <%= vexpregional==='1'  ? 'checked':'' %> name="vexpregional" type="radio" value="1"> Nunca
													</label>
												</div>

												<div class="form-group col-sm-12">
													<label class="control-label">Principales mercados con los que hace negocios (Completar nombre, lugar y país)</label>
													<textarea class="form-control" name="vmercados" rows="4"><%= vmercados %></textarea>
												</div>

												<div class="form-group col-sm-12">
													<label class="control-label">Participa de Ferias / eventos (Completar nombre, lugar y país)</label>
													<textarea class="form-control" name="vferias" rows="4"><%= vferias %></textarea>
												</div>

												<div class="form-group col-sm-12">
													<label class="control-label">Propósito de su participación en este evento</label>
													<textarea class="form-control" name="vobjetivo" rows="4"><%= vobjetivo %></textarea>
												</div>
												<div class="form-group col-sm-12">
													<label class="control-label">Comentarios adicionales sobre su participación como comprador en el evento</label>
													<textarea class="form-control" name="vcomentario" rows="4"><%= vcomentario %></textarea>
												</div>
											</div>
										</div>
									</div><!--END INFO COMO VENDEDOR-->
                </div><!-- END STEP 4 -->
								<div class="step-pane" data-step="5">
									<h4>Confirmación</h4>
									<div class="bg-danger well-transparent row" id="requisite">
										Verifique que los datos que se listan a continuación sean correctos.
									</div>
									<h4 class="spacer">Datos de la Empresa o Institución</h4>
										<div><strong>Nombre de la Empresa: </strong><%= ename %></div>
										<div><strong>CUIT: </strong><%= ecuit %></div>
										<div><strong>Domicilio: </strong><%= edomicilio %></div>
										<div><strong>CP: </strong><%= ecp %></div>
										<div><strong>País: </strong><%= epais %></div>
										<div><strong>Provincia: </strong><%= eprov %></div>
										<div><strong>Localidad: </strong><%= elocalidad %></div>
										<div><strong>Email: </strong><%= email %></div>
										<div><strong>Web: </strong><%= eweb %></div>
										<div><strong>Año de Fundación:<%= efundacion %></strong></div>
										<div><strong>Nro. de empleados: </strong><%= enumempleados %></div>
										<div><strong>Facturación anual: </strong><%= eventas %></div>
										<hr>
										<h4 class="spacer">Representante/s que participará/n de las rondas</h4>
										<div><strong>Nombre y apellido del Responsable:</strong><%= rname %></div>
										<div><strong>Cargo:</strong><%= rcargo %></div>
										<div><strong>DNI:</strong><%= rdni %></div>
										<div><strong>Fecha de nacimiento:</strong><%= rfenac %></div>
										<div><strong>Email del participante: </strong><%= rmail %></div>
										<div><strong>Teléfono:</strong><%= rtel %></div>
										<div><strong>Teléfono Móvil:</strong><%= rcel %></div>
										<div><strong>Idiomas que domina:</strong><%= ridiomas %></div>
										<hr>
										<hr class="spacer" >
                  	<a href="#" id="submit-solicitud">
                    	<button type="button" class="btn btn-primary js-submit">Enviar inscripcion</button>
                  	</a>
								</div><!-- END STEP 5 -->

              </div><!--STEP content-->
            </div>
          </div>

        </div><!--END FORM-->



      
      </div><!-- huge row -->

    </div><!-- container fluid -->
  </section>

  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title custom_align" id="Heading">Eliminar requerimiento</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning">
            <span class="glyphicon glyphicon-warning-sign"></span> ¿Está seguro que desea eliminar este requerimiento?</div>       
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-success" >
            <span class="glyphicon glyphicon-ok-sign"></span>Si</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> No</button>
        </div>
      </div><!-- /.modal-content --> 
    </div><!-- /.modal-dialog --> 
  </div><!-- modal -->
    
</div><!-- end -->
