<hr class="spacer">
<h5>Representante adicional que participará de la ronda</h5>
<div class="form-group">
	<div class="row">
		<div class="col-sm-4">
			<label class="control-label">Nombre y apellido</label>
			<input type="text" class="form-control" id="aname" name="aname" value="<%= aname %>" >
		</div>

		<div class="col-sm-4">
			<label class="control-label">Email</label>
			<input type="text" class="form-control" id="amail" name="amail" value="<%= amail %>"  placeh<older="Email" >
		</div>

		<div class="col-sm-4">
				<label class="control-label">Cargo</label>
				<input type="text" class="form-control" id="acargo" name="acargo"  value="<%= acargo %>"  >
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-sm-3">
			<label class="control-label">DNI</label>
			<input type="text" class="form-control" id="adni" name="adni"  value="<%= adni %>"  placeholder="XXXXXXXX">
		</div>

		<div class="col-sm-3">
			<label class="control-label">Fecha nacimiento</label>
			<input type="text" class="form-control" id="afenac" name="afenac"  value="<%= afenac %>"  >
		</div>

		<div class="col-sm-3">
			<label class="control-label">Teléfono</label>
			<input type="text" class="form-control" id="atel" name="atel"   value="<%= atel %>" >
		</div>

		<div class="col-sm-3">
			<label class="control-label">Teléfono móvil</label>
			<input type="text" class="form-control" id="acel" name="acel"  value="<%= acel %>" >
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-sm-12">
			<label class="control-label">Idiomas que domina</label>
			<input type="text" class="form-control" id="aidiomas" name="aidiomas"  value="<%= aidiomas %>" >
		</div>
	</div>
</div>
<hr class="spacer">
<button type="button" class="btn btn-success js-newSolDetail">Confirmar representante
</button>
<br><br>
