<div class="row well">
	<div class="col-xs-12 col-sm-12" >
		<h3>Datos del representante</h3>
		<br>
		<div class="col-xs-12 col-sm-12" >
			<div class="col-xs-12 col-sm-5" >
				<h5><strong>Representante: </strong><%= rname %></h5>
				<h5><strong>Cargo: </strong><%= rcargo %></h5>
				<h5><strong>DNI: </strong><%= rdni %></h5>
				<h5><strong>Idiomas: </strong><%= ridiomas %></h5>
			</div>
			<div class="col-xs-12 col-sm-7" >
				<h5><strong>Datos de contacto: </strong></h5>
				<h5><strong>E-mail: </strong><%= rmail %></h5>
				<h5><strong>Teléfono: </strong><%= rtel %></h5>
				<h5><strong>Teléfono Móvil: </strong><%= rcel %></h5>
			</div>
		</div>
	</div>

</div>
