<div class="col-xs-12 col-sm-12" >
	<h3>Perfil Vendedor</h3>
	<br>
	<div class="col-xs-12 col-sm-12" >
		<h5><strong>Actividades: </strong> 
			<%= profiles[1].actividades['aescenicas']  ? 'Artes escenicas':'' %>
			<%= profiles[1].actividades['audivisual']  ? 'Audiovisual':'' %>
			<%= profiles[1].actividades['disenio']  ? 'Diseño':'' %>
			<%= profiles[1].actividades['editorial']  ? 'Editorial':'' %>
			<%= profiles[1].actividades['musica']  ? 'Música':'' %>
			<%= profiles[1].actividades['videojuegos']  ? 'Videojuegos':'' %>
		</h5>
		<h5><strong>Palabras clave: </strong> <%= profiles[1].descriptores %></h5>
		<h5><strong>Productos/Servicios: </strong> <%= profiles[1].productos %></h5>
		<h5><strong>Negocios internacionales: </strong> 
			<%= profiles[1].expeintl==='4'  ? 'Frecuentemente':'' %>
			<%= profiles[1].expeintl==='2'  ? 'Esporádicamente':'' %>
			<%= profiles[1].expeintl==='1'  ? 'Nunca':'' %>
		</h5>
		<h5><strong>Negocios regionales: </strong> 
			<%= profiles[1].experegl==='4'  ? 'Frecuentemente':'' %>
			<%= profiles[1].experegl==='2'  ? 'Esporádicamente':'' %>
			<%= profiles[1].experegl==='1'  ? 'Nunca':'' %>
		</h5>		
		<h5><strong>Principales mercados: </strong> <%= profiles[1].mercados %></h5>
		<h5><strong>Ferias/Eventos: </strong> <%= profiles[1].ferias %></h5>
		<h5><strong>Objetivo: </strong> <%= profiles[1].objetivo %></h5>
		<h5><strong>Comentarios: </strong> <%= profiles[1].comentario %></h5>
	</div>
</div>