<td>
	<div><strong><%= aname %></strong></div>
</td>
		
<td>
		<div class="clearfix"><%= acargo %></div>
</td>

<td>
		<div class="clearfix"><%= amail %></div>
</td>


<!--<td><p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" data-placement="top" rel="tooltip"><span class="glyphicon glyphicon-pencil"></span></button></p>
</td>-->

<td><p><button class="btn btn-danger btn-xs js-delete" data-title="Delete" data-toggle="modal" data-target="#delete" data-placement="top" rel="tooltip"><span class="glyphicon glyphicon-trash"></span></button></p>
</td>
