<div class="col-md-12" style="padding-left: 30px; padding-right:30px;">
	<h2><%= titulo %></h2>
	<p class="lead"><%= description %></p>

<hr>
<% if(!hasProfile()) {%>
  <div class="row">
    <div class="buttons splash-right col-md-12"><a href="#inscripcion/nueva" class="btn btn-danger strong btn-lg btn-block"><strong>¡Tienes que cargar tu perfil de emprendedor como primer paso!</strong><br><span style="font-size:13px!important;color:#FFF!important;font-weight:normal">Hac clic aquí para acceder al formulario de alta de tu perfil. De esta forma el resto de los emprendedores podrán interactuar contigo.</span></a></div>
  </div>  
<% } else if (profileHasProblems()){ %>

  <div class="row">
    <div class="buttons splash-right col-md-12"><a href="#inscripcion/nueva" class="btn btn-danger strong btn-lg btn-block"><strong>¡Tu perfil requiere una revisión!</strong><br><span style="font-size:13px!important;color:#FFF!important;font-weight:normal">La información obrante en tu perfil no es suficiente. Tienes que activar un perfil (VENDEDOR o COMPRADOR),<br> indicar tu actividad principal y dar de alta el porfolio de antecedentes.</span></a></div>
  </div>  
<% } %>
  <div class="row">
    <div class="col-md-12">
        <!--notification start-->
        <section class="panel">
            <header class="panel-heading">
                Notificaciones <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <!--<a href="javascript:;" class="fa fa-cog"></a>-->
                <a href="javascript:;" class="fa fa-times"></a>
                </span>
            </header>
            <div class="panel-body row" style="display: block;">
              <div class="col-md-12">
                <div class="alert alert-success">
                    <span class="alert-icon"><i class="fa fa-bell-o"></i></span>
                    <div class="notification-info">
                        <ul class="clearfix notification-meta">
                            <li class="pull-left notification-meta"><strong>¡Tu agenda está lista!</strong></li>
                        </ul>
                        <p>
                          <ul class="unstyled-list">
                            <!--IF IS VENDEDOR-->
                              <li>Es obligatorio que confirmes tu asistencia como <strong>Vendedor</strong> desde <a href="#">AQUÍ</a> 
                              </li>
                            <!--IF IS COMPRADOR-->
                              <li>Es obligatorio que confirmes tu asistencia como <strong>Comprador</strong> desde <a href="#">AQUÍ</a> 
                              </li>
                            
                            <li>Recuerda imprimir tu agenda</li>
                            <li>Para poder acceder al espacio de rondas de negocios deberás estar acreditado previamente</li>
                            <li>Recomendamos acreditarte el día jueves 3 desde las 9 horas en el Hall de la Planta Baja del <a href="http://www.culturalkirchner.gob.ar/" target="_blank">Centro Cultural Kirchner</a></li>
                          </ul>
                        </p>
                    </div>
                </div>
              </div>
              <!--<div class="col-md-6">
                <div class="alert alert-info">
                    <span class="alert-icon"><i class="fa fa-calendar"></i></span>
                    <div class="notification-info">
                        <ul class="clearfix notification-meta">
                            <li class="pull-left notification-meta"><strong>Consejos útiles</strong></li>
                        </ul>
                        <p>
                          <ul class="unstyled-list">
                            <li>Recuerda imprimir tu agenda</li>
                            <li>Para poder acceder al espacio de rondas de negocios deberás estar acreditado previamente</li>
                            <li>Recomendamos inscribirte el día jueves 3 desde las 9 horas en el Hall de la Planta Baja del <a href="http://www.culturalkirchner.gob.ar/" target="_blank">Centro Cultural Kirchner</a></li>
                          </ul>
                        </p>
                    </div>
                </div>
              </div>-->
            </div>
        </section>
        <!--notification end-->

        <section>
          <div class="row">
              
            <div class="col-md-6">
              <div class="mini-stat clearfix">
                <span class="mini-stat-icon green"><i class="fa fa-eye"></i></span>
                <div class="mini-stat-info">
                  <span>Mirá quiénes van a estar en el MICA</span>
                  Explorá los perfiles de los emprendimientos participantes
                  <hr>
                  <a href="#emprendimientos/explorar" class="btn btn-default btn-block">Acceder</a>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mini-stat clearfix">
                <span class="mini-stat-icon green"><i class="fa fa-pencil-square-o"></i></span>
                <div class="mini-stat-info">
                  <span>Actualizá tu perfil</span>
                  Podés seguir mejorando y ajustando tu perfil para que los productores lo vean
                  <hr>
                  <a href="#inscripcion/nueva" class="btn btn-default btn-block">Acceder</a>
                </div>
              </div>
            </div>

          </div>
        </section>
        
    </div>

  </div>
	<!--<div class="row">
		<div class="buttons splash-right col-md-6"><a href="http://mica.cultura.gob.ar/instructivos-rondas-de-negocios/" target="_blank" class="btn btn-info strong btn-lg btn-block"><strong>Guía paso a paso para inscribirte a las <em>Rondas de negocios</em> <br></strong></a></div>
		<div class="buttons splash-right col-md-6"><a href="http://fondo.cultura.gob.ar" target="_blank" class="btn btn-fondo strong btn-lg btn-block"><strong>Vení al MICA</strong><br><span style="font-size:13px!important;color:#FFF!important;font-weight:normal">A través del Fondo Argentino de Desarrollo Cultural</span></a></div>
	</div>-->
<hr>

	<!--<ul class="row">
		<li class="item-5 col-sm-3">
            <a href="#">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-check-square-o fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <h5>Asegurate de haber habilitado tu perfil de vendedor o comprador</h5>
        </li>
        
		<li class="item-5 col-sm-3">
            <a href="#">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-heart-o fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <h5>Marcá como favoritos los proyectos que más te interesen</h5>
        </li>
        <li class="item-1 col-sm-3">
            <a href="#">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <h5>Podés <strong>solicitar</strong> y <strong>aceptar</strong> reuniones de negocios</h5>
        </li>
        <li class="item-2 col-sm-3">
            <a href="#">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-hand-o-up fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <h5>Pedí todas las reuniones que te interesen</h5>
        </li>
    </ul>
    <ul class="row">
        <li class="item-3 col-sm-3">
            <a href="#">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa fa-frown-o fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <h5>Recordá que no todas tus solicitudes serán validadas</h5>
        </li>
        <li class="item-4 col-sm-3">
            <a href="#">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-users fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <h5>Durante el evento podés tener hasta 36 reuniones</h5>
        </li>
        
        <li class="item-6 col-sm-3">
            <a href="#">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <h5>Los <strong>vendedores</strong> pueden pedir reuniones solamente a los <strong>compradores</strong></h5>
        </li>
        <li class="item-7 col-sm-3">
            <a href="#">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-cart-arrow-down fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <h5>Los <strong>compradores</strong> pueden pedir reuniones a <strong>vendedores</strong> y <strong>compradores</strong></h5>
        </li>
	</ul>-->

</div>