<div class="col-md-12" style="padding-left: 30px; padding-right:30px;">
	<h2><%= titulo %></h2>
	<p class="lead"><%= description %></p>

<hr>
<% if(profileHasProblems()) {%>
  <div class="row">
    <div class="buttons splash-right col-md-12"><a href="#inscripcion/nueva" class="btn btn-danger strong btn-lg btn-block"><strong>¡Tu perfil requiere una revisión!</strong><br><span style="font-size:13px!important;color:#FFF!important;font-weight:normal">Tienes que activar el perfil de VENDEDOR y detallar la actividad principal</span></a></div>
  </div>  
<% } %>
  <div class="row">
    <div class="buttons splash-right col-md-6"><a href="#emprendimientos/explorar" class="btn btn-success strong btn-lg btn-block"><strong>Buscá, encontrá y pedí reuniones </strong><br><span style="font-size:13px!important;color:#FFF!important;font-weight:normal">Seleccioná tus proyectos favoritos y solicitá una reunión</span></a></div>
    <div class="buttons splash-right col-md-6"><a href="#inscripcion/nueva" class="btn btn-warning strong btn-lg btn-block"><strong>Actualizá tu perfil</strong><br><span style="font-size:13px!important;color:#FFF!important;font-weight:normal">Mejorá tus chances de ser elegido</span></a></div>
  </div>
	<div class="row">
		<div class="buttons splash-right col-md-6"><a href="#showcase/nueva" class="btn btn-info strong btn-lg btn-block"><strong>Inscribite a los <em>Showcase</em> <br><span style="font-size:13px!important;color:#FFF!important;font-weight:normal">Tenés tiempo hasta el 24 de Julio</span></strong></a></div>
		<div class="buttons splash-right col-md-6"><a href="http://fondo.cultura.gob.ar" target="_blank" class="btn btn-fondo strong btn-lg btn-block"><strong>Vení al MICA</strong><br><span style="font-size:13px!important;color:#FFF!important;font-weight:normal">A través del Fondo Argentino de Desarrollo Cultural</span></a></div>
	</div>
<hr>

	<ul class="row">
		<li class="item-5 col-sm-3">
            <a href="#">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-check-square-o fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <h5>Asegurate de haber habilitado tu perfil de vendedor o comprador</h5>
        </li>
        
		<li class="item-5 col-sm-3">
            <a href="#">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-heart-o fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <h5>Marcá como favoritos los proyectos que más te interesen</h5>
        </li>
        <li class="item-1 col-sm-3">
            <a href="#">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <h5>Podés <strong>solicitar</strong> y <strong>aceptar</strong> reuniones de negocios</h5>
        </li>
        <li class="item-2 col-sm-3">
            <a href="#">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-hand-o-up fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <h5>Pedí todas las reuniones que te interesen</h5>
        </li>
    </ul>
    <ul class="row">
        <li class="item-3 col-sm-3">
            <a href="#">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa fa-frown-o fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <h5>Recordá que no todas tus solicitudes serán validadas</h5>
        </li>
        <li class="item-4 col-sm-3">
            <a href="#">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-users fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <h5>Durante el evento podés tener hasta 36 reuniones</h5>
        </li>
        
        <li class="item-6 col-sm-3">
            <a href="#">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <h5>Los <strong>vendedores</strong> pueden pedir reuniones solamente a los <strong>compradores</strong></h5>
        </li>
        <li class="item-7 col-sm-3">
            <a href="#">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-cart-arrow-down fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <h5>Los <strong>compradores</strong> pueden pedir reuniones a <strong>vendedores</strong> y <strong>compradores</strong></h5>
        </li>
	</ul>

</div>