<div class="col-md-12" style="padding-left: 30px; padding-right:30px;">
	<h2><%= titulo %></h2>
	<p class="lead"><%= description %></p>

<hr>
<% if(!hasProfile()) {%>
  <div class="row">
    <div class="buttons splash-right col-md-12"><a href="#inscripcion/nueva" class="btn btn-danger strong btn-lg btn-block"><strong>¡Tienes que cargar tu perfil de emprendedor como primer paso!</strong><br><span style="font-size:13px!important;color:#FFF!important;font-weight:normal">Hac clic aquí para acceder al formulario de alta de tu perfil. De esta forma el resto de los emprendedores podrán interactuar contigo.</span></a></div>
  </div>  
<% } else if (profileHasProblems()){ %>

  <div class="row">
    <div class="buttons splash-right col-md-12"><a href="#inscripcion/nueva" class="btn btn-danger strong btn-lg btn-block"><strong>¡Tu perfil requiere una revisión!</strong><br><span style="font-size:13px!important;color:#FFF!important;font-weight:normal">La información obrante en tu perfil no es suficiente. Tienes que activar un perfil (VENDEDOR o COMPRADOR),<br> indicar tu actividad principal y dar de alta el porfolio de antecedentes.</span></a></div>
  </div>  
<% } %>
  <div class="row">
    <div class="col-md-12">
        
        <section>
          <div class="row">
              
            <div class="col-md-6">
              <div class="mini-stat clearfix">
                <span class="mini-stat-icon green"><i class="fa fa-eye"></i></span>
                <div class="mini-stat-info">
                  <span>Explorá el perfil de otros emprendimientos</span>
                  Podés ver los emprendimientos que participaron del MICA
                  <hr>
                  <a href="#emprendimientos/explorar" class="btn btn-default btn-block">Acceder</a>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mini-stat clearfix">
                <span class="mini-stat-icon green"><i class="fa fa-pencil-square-o"></i></span>
                <div class="mini-stat-info">
                  <span>Actualizá tu perfil</span>
                  Enriquecé y ajustá tu perfil. Es tu carta de presentación para que todos puedan ver tus producciones.
                  <hr>
                  <a href="#inscripcion/nueva" class="btn btn-default btn-block">Acceder</a>
                </div>
              </div>
            </div>

          </div>
        </section>
        
    </div>

  </div>
  <hr>
</div>
