<h3>Estimado/a <%= toName %>:</h3>
<hr>
<p>
    ¡Tu inscripción ya está cargada en la plataforma de MICA 2015! 
</p>
<p>Se ha dado de alta o modificado tu inscripción nro: <%= cnumber %> con fecha <%= fecomp %> con el siguiente asunto: <br><%= slug %></p>

<p>
		Ahora productores culturales nacionales e internacionales van a poder conocer tu proyecto. 
</p>
		Mantené tu información actualizada accediendo a <a href="<%= server %>/mica/#inscripcion/<%= nodeId %>/edit" >este</a> enlace.
<p>
Falta lo más importante: <strong>a partir del 13 de julio</strong> vas a poder solicitar reuniones con compradores y/o vendedores, que te interesen, en el marco de las <strong>rondas de negocios</strong>. Es un paso clave para aprovechar al máximo las jornadas del MICA 2015. 
</p>
<p>
	Seguinos a través de las redes y la web oficial de MICA 2015
</p>

<p>
	<h4><a href="https://www.facebook.com/MICAcultura" >FB: MICAcultura</a></h4>
	<h4><a href="https://twitter.com/MICAcultura" >TW: @micacultura</a></h4>
	<h4>www.mica.gob.ar</h4>
</p>

<p>Contacto:</p>
<p>mail: mica@cultura.gob.ar</p>
<p>Tel.: + 54 11 4129-2474/ 2485</p>

