<h3>Estimado/a <%= toName %>:</h3>
<hr>
<p>
	¡Ha comenzado tu inscripción en la plataforma de MICA 2015!
</p>
<p>
	Se ha dado de alta o modificado tu inscripción número: <%= cnumber %>  con fecha <%= fecomp %> con el siguiente asunto:  <br><%= slug %></p>

<p>
	El MICA es el principal mercado de industrias culturales de Argentina donde se reúnen en un mismo espacio los sectores de artes escénicas, audiovisual, diseño, editorial, música y videojuegos.</p>

<p>
	Para poder interactuar con otros productores culturales deberás “Guardar y Publicar” tu perfil, una vez que lo hayas completado. Siempre podrás completar, revisar y/o ampliar tu información accediendo a <a href="<%= server %>/mica/#inscripcion/<%= nodeId %>/edit" >este</a> enlace</p>

<p>A partir del 13 de julio vas a poder solicitar reuniones con compradores y/o vendedores, que te interesen, en el marco de las rondas de negocios. Es un paso clave para aprovechar al máximo las jornadas del MICA 2015.</p>

<p>
	Seguinos a través de las redes y la web oficial de MICA 2015
</p>

<p>
	<h4><a href="https://www.facebook.com/MICAcultura" >FB: MICAcultura</a></h4>
	<h4><a href="https://twitter.com/MICAcultura" >TW: @micacultura</a></h4>
	<h4>www.mica.gob.ar</h4>
</p>

<p>Contacto:</p>
<p>mail: mica@cultura.gob.ar</p>
<p>Tel.: + 54 11 4129-2474/ 2485</p>
