<h3>Estimado/a <%= toName %>:</h3>
<hr>
<h4>¡Tu inscripción ya está cargada en la plataforma de MICA 2015!</h4>
<p>Se ha dado de alta o modificado tu inscripción nro: <%= cnumber %> con fecha <%= fecomp %> con el siguiente asunto: <strong><%= slug %></strong></p>

<p>Ahora productores culturales nacionales e internacionales van a poder conocer tu proyecto.</p>
<p>Mantené tu información actualizada accediendo a tu Perfil desde <a href="http://200.80.154.217:3000/mica/#inscripcion/<%= nodeId %>/edit">AQUÍ</a>.</p>
<p>Falta lo más importante: <strong>a partir del 20 de julio</strong> vas a poder solicitar reuniones con compradores y/o vendedores, que te interesen, en el marco de las <strong>rondas de negocios</strong>. Este es un paso clave para aprovechar al máximo las jornadas del MICA 2015.</p>
<hr>
<p>Seguinos a través de las redes y la web oficial de MICA 2015</p>
<p>
	<h4><a href="https://www.facebook.com/MICAcultura" >FB: MICAcultura</a></h4>
	<h4><a href="https://twitter.com/MICAcultura" >TW: @micacultura</a></h4>
	<h4><a href="http://www.mica.gob.ar">www.mica.gob.ar</a></h4>
</p>
<p><strong>Contacto:</strong><br>
Correo electrónico: <a href="mailto:mica@cultura.gob.ar">mica@cultura.gob.ar</a></br>
Tel.: +54 (11) 4129-2474/2485</p>

