
<h3><strong>Solicitud de entrevista: </strong> <%= cnumber %>: <%= fecomp %> </h3>

<div class='row'>
	<div class="col-sm-6 col-xs-12">
		<h3>Emisor (<%= emisor_nivel_interes %>)</h3>
		<p><strong>Solicita: </strong> <%= emisor_rname %></p>
		<p><strong>Organización: </strong> <%= emisor_displayName %></p>
		<p><strong>Dijo: </strong> <%= emisor_slug%></p>	
	</div>

	<div class="col-sm-6 col-xs-12">
		<h3>Receptor (<%= receptor_nivel_interes %>)</h3>
		<p><strong>Recibe: </strong> <%= receptor_rname %></p>
		<p><strong>Organización: </strong> <%= receptor_displayName %></p>
		<p><strong>Contestó: </strong> <%= receptor_slug%></p>
	</div>
</div>
<hr>

