<div class="row hidden-print">
    <div class="col-xs-12 text-right">
    	<button type="button" class="btn btn-default js-close pull-left"><span class="fa fa-angle-left"></span> Volver</button>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default active js-basicview" ><i class="glyphicon glyphicon glyphicon-blackboard"></i> Interacciones</button>
          <button type="button" class="btn btn-default js-profileview"><i class="glyphicon glyphicon-pencil"></i> Ver perfil</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-xs-12">
        <h2 class="solicitante"><%= ename %> <span class="nro-serie">(<%= cnumber%>)</span></h2>

        <h3 class="solicitante"><%= rolMica() %></h3>
        <p><strong>SECTOR: </strong> <%= getActividad() %></p>
        <p><strong>SUB-SECTOR: </strong> <%= getSubActividad() %></p>
        <p><%= getTdataLabel('paisesOL', epais) %> / <%= getTdataLabel('provinciasOL', eprov) %></p>
        <p><strong>Responsable: </strong> <%= rname %> / <%= rmail %> / <%= rcel %></p>


    </div>
    <div class="col-md-4 col-xs-12">
        <div>
            <h2>Interacciones</h2>
            <p><strong>Reuniones recibidas: </strong> <%= receptor_requests %></p>
            <p><strong>Reuniones solicitadas: </strong> <%= emisor_requests %></p>

            <div><strong>ESTADO RONDAS:</strong> <%  if(getFieldLabel('estado_rondas') === 'ausente') {%><span class="label label-warning">AUSENTE</span><% }else{ %><span class="label label-success">activo</span><% } %></div>
            <br>
            <div><button class='btn btn-primary btn-large js-ver-agenda'>Ver/ Editar Agenda</button></div>

        </div>

    </div>
</div>
<div id="show-region"></div> 
<div id="edit-region"></div> 
