<div class="row well">
	<div class="col-xs-7 col-sm-7" >
		<div class='row'>
		<div class="col-xs-6 col-sm-6" >


		<p><strong>Tipo Evento: </strong><%= tipo_evento %></p>
		<p><strong>Fecha Evento: </strong><%= fevento %></p>
		<p><strong>Horario: </strong><%= leyendafecha %></p>
		<p><strong>Lugar: </strong><%= lugar %></p>
		<p><strong>¿Aire Libre? </strong><%= airelibre %></p>
		<p><strong>Provincia: </strong><%= provevento %></p>
		<p><strong>Localidad: </strong><%= locevento %></p>
		<p><strong>CP: </strong><%= cpevento %></p>
		</div>
		<div class="col-xs-6 col-sm-6" >
		<p><strong>Solicitud: </strong><%= description %></p>
		<p><strong>Evento: </strong><%= devento %></p>
		</div>
		</div>
	</div>
	<div class="col-xs-5 col-sm-5" >
		<div class='row'>
		<span class='col-sm-12 pull-right'><%= description %></span>
		</div>
	</div>
</div>

<hr>
