  <div class="form-group">
    <label class="col-sm-2 control-label">localizador</label>
    <div class="col-sm-2">
      <p class="form-control-static"><strong><%= cnumber %></strong></p>
    </div>
    <div class="col-sm-4">
      <p class="form-control-static">id: <%= _id %></p>
    </div>
  </div>
  <div class="form-group">
    <label for="tipocomp" class="col-sm-2 control-label" >tipo / fecha</label>
    <div class='row'>
      <div class="col-sm-4">
      <select class="form-control" id="tipocomp" name="tipocomp" value="<%= tipocomp %>" >
         <option value='no_definido'
         <%= tipocomp == 'no_definido' ? 'selected':'' %>>--tipo de comprobante--</option>
         <option value='nrecepcion'
         <%= tipocomp == 'nrecepcion' ? 'selected':'' %>>n/recepcion</option>
         <option value='nentrega'
         <%= tipocomp == 'nentrega' ? 'selected':'' %>>n/entrega</option>
         <option value='ptecnico'
         <%= tipocomp == 'ptecnico' ? 'selected':'' %>>p/tecnico</option>
      </select>
      </div>
      <div class="col-sm-3">
         <input id="fecomp" name="fecomp" type="datetime-local" class="form-control" 
           value="<%= fecomp %>" placeholder="Fecha comprobante">
      </div>
      <span class="help-block"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="persona" class="col-sm-2 control-label"  >persona</label>
    <div class="input-group col-sm-10">
      <span class="input-group-addon">@</span>
      <input id="persona" name="persona" type="text" class="form-control" 
          value="<%= persona %>"  placeholder="contraparte">
      <span class="input-group-btn"><button class="btn btn-default" type="button">Buscar</button></span>
    <span class="help-block"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="slug" class="col-sm-2 control-label"  >asunto</label>
    <div class="col-sm-10">
    <input id="slug" name="slug" type="text" class="form-control" 
          value="<%= slug %>" >
      <span class="help-block"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label"  >descripción</label>
    <div class="col-sm-10">
    <textarea id="description" name="description" type="textarea" 
      class="form-control" rows="3"><%= description %></textarea>
      <span class="help-block"></span>
     </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
    <button type="button" class="btn js-submit">Save</button>
     </div>
  </div>
