     <div>
        <div class="row">
            <div class="col-sm-5 col-xs-6 form-group">
                <label class="control-label">Tipo de licencia</label>
                <select name="type" class="form-control">
                    <%= utils.buildSelectOptions('type',utils.typeExportList, type) %>
                </select>
                <span class="help-block"></span>
            </div>
            <div class="col-sm-5 col-xs-9 form-group">
                <label class="control-label">Causa de la exportación </label>
                <select name="reason" class="form-control">
                    <%= utils.buildSelectOptions('reason',utils.reasonsExportList, reason) %>
                </select>
                <span class="help-block"></span>
            </div>
        </div>
    </div>
    <div class="">
        <div class="row">
            <div class="col-sm-5 col-xs-6 form-group">
                <label class="control-label">Pa&iacute;s de destino</label>
                <select name="destination" class="form-control">
                    <option value="">Seleccione una país</option>
                    <%= utils.buildSelectOptions('destination',utils.paisesOptionList.Paises, destination) %>
                </select>
                <span class="help-block"></span>
            </div>
            <div class="col-sm-5 col-xs-6 form-group">
                <label class="control-label">Lugar de salida</label>
                <input type="text" name="customs" class="form-control" value="<%=customs%>">
                <span class="help-block">complete si conoce la salida</span>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-sm-5 col-xs-6 form-group">
                <label class="control-label">Fecha estimada de salida </label>
                <input type="text" name="dateout" class="form-control" value="<%=dateout%>">
                <span class="help-block"></span>
            </div>
             <div class="col-sm-3 col-xs-9 form-group" id="durationoutCont">
                <label class="control-label">Compromiso de Retorno</label>
                <select name="durationout" class="form-control">
                    <%= utils.buildSelectOptions('durationout',utils.countMonthOutList, durationout) %>
                </select>
                <span class="help-block"></span>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-sm-5 col-xs-6 form-group">
                <label class="control-label">Email de contacto</label>
                <input type="text" name="email" class="form-control" value="<%=email%>">
                <span class="help-block">email de contacto para esta solicitud</span>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-sm-10 col-xs-9 form-group">
                <label class="control-label">Acalaraciones u Otros datos de interes </label>
                <textarea name="obs" class="form-control" rows="3"><%=obs%></textarea>
                <span class="help-block"></span>
            </div>
        </div>
    </div>