     <div>
        <div class="row">
            <div class="col-sm-5 col-xs-6 form-group">
                <label class="control-label">Tipo de tramite </label>
                <select name="type" class="form-control">
                    <%= utils.buildSelectOptions('type',utils.typeExportList, type) %>
                </select>
                <span class="help-block"></span>
            </div>
            <div class="col-sm-5 col-xs-9 form-group">
                <label class="control-label">Causa de la exportación </label>
                <select name="reason" class="form-control">
                    <%= utils.buildSelectOptions('reason',utils.reasonsExportList, reason) %>
                </select>
                <span class="help-block"></span>
            </div>
        </div>
    </div>
    <div class="">
        <div class="row">
            <div class="col-sm-5 col-xs-6 form-group">
                <label class="control-label">Destino </label>
                <input type="text" name="destination" class="form-control" value="<%=destination%>">
                <span class="help-block"></span>
            </div>
            <div class="col-sm-5 col-xs-6 form-group">
                <label class="control-label">Aduana </label>
                <input type="text" name="customs" class="form-control" value="<%=customs%>">
                <span class="help-block">complete si conoce la salida</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-5 col-xs-6 form-group">
                <label class="control-label">Fecha estimada de salida </label>
                <input type="text" name="dateout" class="form-control" value="<%=dateout%>">
                <span class="help-block"></span>
            </div>
             <div class="col-sm-3 col-xs-9 form-group">
                <label class="control-label">Compromiso de Retorno</label>
                <div class="input-group">
                    <input type="text" name="durationout" class="form-control" value="<%=durationout%>">
                    <span class="input-group-addon">meses</span>
                </div>
                <span class="help-block">de 1 a 12 meses</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-10 col-xs-9 form-group">
                <label class="control-label">Acalaraciones u Otros datos de interes </label>
                <textarea name="obs" class="form-control"><%=obs%></textarea>
                <span class="help-block"></span>
            </div>
        </div>
    </div>