<div class="front-card floatFix" style="width:838px;margin:auto;margin-top:70px;padding:20px;">
  <div class="front-welcome">
    <div class="callout-copy">
     <img src="/img/sigca-logo.png" alt="sigca" />
    </div>
  </div>

  <div class="user-options">
    <div class="front-signin js-front-signin">
      <form  action="/login" class="signin" method="post">
        
        <div class="username">
          <input type='text' id='username' name='username'  value='<%= username %>' class="input-large" placeholder='usuario'>
        </div>

        <table class="flex-table password-signin">
          <tbody>
            <tr>
                <td class="flex-table-primary">
                  <div class="password flex-table-form">
                    <input type='password' name='password' value='<%= password %>' class="text-input flex-table-input" placeholder='clave'>
                  </div>
                </td>
                <td class="flex-table-secondary">
                  <button type="submit" class="submit btn primary-btn flex-table-btn js-login-submit">
                    Iniciar sesión
                  </button>
                </td>
            </tr>
          </tbody>
        </table>



        <div class="remember-forgot">
          <label class="remember">
            <input type="checkbox" value="1" name="remember_me" checked="checked">
            <span>Recordar mis datos</span>
          </label>
        </div>


      </form>

    </div>


  </dv>


</div>