<!--  ====================  ProductList LAYOUT SIDE-BAR ==========================  -->
<div class="row">
<div class="col-md-2">
  <div  class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Procedencias</li>
      <li><button class='btn btn-default-block btn btn-default-link prjview'><%= utils.viewData.currentProject %></button></li>
      <li><input type='hidden' placeholder='proyecto' disabled class='input-small' id='project[_id]' name='project[_id]' value=<%= project['_id'] %> ></li>
    </ul>
  </div><!--/.well side bar -->


 
</div><!--/col-md-2 side bar-->

<!-- START Content  tabs -->
<div class="col-md-10">
	<div id="listcontent" class="content row"></div>
</div><!--/col-md-10-->
</div><!--row -->
<hr>
