<!--  ====================   SIDE-BAR ==========================  -->
<div class="row row-offcanvas row-offcanvas-left">

<div class="col-md-3">
  <div class="panel panel-default">
    <div class='panel-heading'>Selectores</div>
    <div class='panel-body'>Filtros de búsqueda</div>
    <ul class="list-group">
      <li class="list-group-item"><input type='text' placeholder='rubro' class='form-control input-sm' id='rubro' name='rubro' value=<%= rubro %> ></li>
      <li class="list-group-item"><input type='text' placeholder='responsable' class='form-control input-sm' id='responsable' name='responsable' value=<%= responsable %> ></li>
      <li class="list-group-item"><input type='text' placeholder='contraparte' class='form-control input-sm' id='contraparte' name='contraparte' value=<%= contraparte %> ></li>
      <li class="list-group-item">
        <datalist id='ejecucionList'> 
            <option value='planificando' label='planificado' />
            <option value='rfi' label='informacion'/>
            <option value='tdr' label='tdr'/>
            <option value='compras' label='compras' />
            <option value='adjudicado' label='adjudicado'/>
            <option value='a_entregar' label='a entregar'/>
            <option value='entregado' label='entregado'/>
            <option value='cumplido' label='cumplido'/>
          </datalist>
          <input type="text" class="form-control input-sm"  multiple list='ejecucionList' placeholder='nivel de ejecucion' id="nivel_ejecucion" name="nivel_ejecucion" value=<%= nivel_ejecucion %> ></li>
      <li class="list-group-item"><div id='assets' class="accordion" id="accordion"></div></li>
    </ul>
  </div>
</div>

<!-- START Content  tabs -->

<div class="col-md-9">
    <div id="prjheader" class='row'></div>
    
    <div class="row">
        <h3>Solicitudes iniciadas por el usuario</h3>
        <div id="sollist" class="col-md-10>"></div>
    </div>
    <div class="row">
        <div id="resdetail" class="col-md-10>"></div>
    </div>

    <div class="row status-bar">
        <div class="col-md-9">
            <div class="alert alert-success" style="display: none">
                <b>INFO:</b> El registro se guardó exitosamente
            </div>
        </div>
    </div>

</div><!--/col-md-10-->
</div><!--row -->
<hr>
