<div class="col-xs-pull-1 col-xs-push-1 col-xs-12 margin-section row req-list">
  <article class="col-xs-12 col-sm-6 col-md-12 sistema-box">
    <div class="content">
        <h4>
            <text><%= utils.viewData.request.eventText[genero] %></text>
        </h4>  
             <!-- BEG BODY -->
             <div class="content-body">
                  Formularios de solicitud de asistencias técnico-artísticas  
                  <span class="label label-success">NUEVO!</span>
             </div>
             <!-- END BODY -->
             <hr>
             <!-- BEG BOTTOM -->
             <div class="content-bottom">
				  <h5>Estado de los requerimientos solicitados</h5>
				  <p>Actulamente tiene iniciados X trámites</p>
				  <a href="#ver/solicitud/<%= _id %>" class="btn btn-block btn-default">Ingresar</a>   
             </div>
            <!-- END BOTTOM -->
    </div>
  </article>
</div>