<div class="col-xs-pull-1 col-xs-push-1 col-xs-12 margin-section row req-list">
     <article class="col-xs-12 col-sm-6 col-md-12 sistema-box">
              <div class="content">
				      <h4>
                           <text><%= slug %></text>
                      </h4>   
                          
				    <!-- BEG BODY -->
					<div class="content-body">
                        <div class="req-row">Estado de Criticidad<span class="label label-danger">
                              <text><%= estado_alta %></text></span>
                        </div>
                        <!--Solo Usuarios MCN -->
					</div>
					<hr>
                          
					<div class="content-body">
					     <p>
					      	<span class="glyphicon glyphicon-calendar"></span>
                             <text><%= items[0].fevento %></text>
					     </p>
					<p><span class="glyphicon glyphicon-map-marker"></span> 
                        <text><%= items[0].lugar %></text>
                    </p>
					</div>
                    <!-- END BODY -->
				    <hr>
                          
				    <!-- BEG BOTTOM -->
				    <div class="well transparent">
					     <h5>Estado de los requerimientos solicitados</h5>
					<!--BEG TABLA DE REQUERIMIENTOS-->
					     <table id="example" class="table" cellspacing="0">
				              <tr>
				        	      <td>
				        		      <span class="pull-right label label-info">Pendiente</span>
				        		      <div><strong><text><%= items[0].fevento %></text></strong></div>
				        		      <div class="clearfix">
                                            <text><%= items[0].items[0].description %></text>
                                      </div>
							      </td>
			                  </tr>
			              </table>
                          <!--END TABLA DE REQUERIMIENTOS-->
                        
			              <div class="spacer"><a href="#solicitud/<%= _id %>/edit" class="btn btn-block btn-default">Ingresar</a></div>
				    </div><!-- END BOTTOM 
/gestion/#comprobantes/<%= _id %>/edit-->	
				 </div>
       </article>
</div>

			
			
			