<a href="/gestion/#comprobantes/<%= _id %>/edit" class="plain" >
<div class='row-fluid span9' >
    <svg class='svgcontainer' width=800 height=27>
    	<text x=1  y=20  font-size=15 fill=<%= utils.viewData.sol.eventFillColor[nivel_ejecucion] %> 
              fill-opacity=<%= utils.viewData.product.fillOpacity[nivel_ejecucion]%> font-family='Arvo' ><%= cnumber %>:</text>
        <text x=80  y=20  font-size=18 fill=<%= utils.viewData.product.eventFillColor[nivel_ejecucion] %> 
              fill-opacity=<%= utils.viewData.product.fillOpacity[nivel_ejecucion]%> font-family='Arvo' ><%= items[0].fevento %></text>

                <text x=200  y=20  font-size=18 fill=<%= utils.viewData.product.eventFillColor[nivel_ejecucion] %> 
              fill-opacity=<%= utils.viewData.product.fillOpacity[nivel_ejecucion]%> font-family='Arvo' ><%= items[0].lugar %></text>
    </svg>
</div>
<div class='row-fluid span9' >
    <%= slug %> / [<%= fecomp %>]-[<%= nivel_ejecucion %>]-[<%= description %>]-[<%= estado_alta %>]-[<%= persona %>]<br/>
</div>
</a>
